@font-face {
  font-family: 'Roboto Mono', serif;
  src: local('Roboto Mono');
}
$roboto-mono: 'Roboto Mono', serif;

@font-face {
  font-family: 'Shippori Mincho', serif;
  src: local('Shippori Mincho');
}
$shippori-mincho: 'Shippori Mincho', serif;
