@font-face {
  font-family: 'Roboto Mono', monospace;
  src: local('Roboto Mono');
}
$roboto-mono: 'Roboto Mono', monospace;

@font-face {
  font-family: 'Shippori Mincho', serif;
  src: local('Shippori Mincho');
}
$shippori-mincho: 'Shippori Mincho', serif;
