@use '../global' as *;

.u-bold {
  font-weight: bold !important;
}
.u-palt {
  font-feature-settings: 'palt' !important;
}
.u-ls2em {
  letter-spacing: 0.2em !important;
}
.u-ls15em {
  letter-spacing: 0.15em !important;
}
.u-ls1em {
  letter-spacing: 0.1em !important;
}
.u-ls05em {
  letter-spacing: 0.05em !important;
}
.u-ls0em {
  letter-spacing: 0 !important;
}
.u-ls05EM {
  letter-spacing: -0.05em !important;
}
.u-ls1EM {
  letter-spacing: -0.1em !important;
}
.u-ls15EM {
  letter-spacing: -0.15em !important;
}
.u-ls2EM {
  letter-spacing: -0.2em !important;
}
.u-textUpper {
  text-transform: uppercase !important;
}
