@use '../global' as *;

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  @include vh100;
  background: #fff;
  // background: lightcoral;
  font-weight: bold;
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__inner {
    width: 100%;
    padding: vh_fv(222) vw(80) 0;
    @include mq(lg) {
      display: flex;
      justify-content: space-between;
      max-width: 980px;
      padding: 0 40px;
      box-sizing: content-box;
      a {
        transition: opacity 0.3s $easeOutCirc;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  &__btns {
    margin-top: vh_fv(128);
    @include mq(lg) {
      margin-top: 0;
      margin-bottom: -55px;
      flex: 0 0 290px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    max-width: 590px;
    height: vw(90);
    margin-left: auto;
    margin-right: auto;
    @include mq(lg) {
      height: 64px;
      transform: translateX(5px);
    }
    & + .drawer__btn {
      margin-top: vh_fv(20);
    }
  }
  &__external {
    margin-top: vh_fv(85);
    display: inline-block;
    font-size: vw(20);
    letter-spacing: 0;
    font-feature-settings: 'palt';
    letter-spacing: 0.12em;
    @include mq(lg) {
      text-align: right;
      margin-top: 50px;
      font-size: 15px;
    }
    a {
      padding-right: 1.8em;
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url('../images/common/icon-external--blue.svg') no-repeat;
      background-size: 1.2em;
      background-position: top 10% right;
      @include mq(lg) {
        background-size: 1.5em;
        background-position: top right 1%;
        padding-right: 32px;
      }
    }
  }
  .footer__item {
    span {
      vertical-align: middle;
    }
    &--main {
      font-size: vw(36);
      @include mq(lg) {
        font-size: 28px !important;
      }
    }
    &--sub {
      font-size: vw(26);
      padding-left: 1.8em;
      @include mq(lg) {
        font-size: 22px !important;
        padding-left: 1.7em !important;
      }
      &::before {
        background-color: $primaryBlue;
      }
    }
    &:nth-of-type(2) {
      .footer__item--sub {
        padding-left: 2.1em;
        letter-spacing: 0.22em;
        @include mq(lg) {
          letter-spacing: 0.08em;
          padding-left: 1.7em !important;
        }
      }
    }
  }
  .footer__item + .footer__item {
    margin-top: vh_fv(52);
    @include mq(lg) {
      margin-top: 2.6em !important;
    }
  }
  li.footer__item:last-of-type {
    margin-top: vh_fv(60) !important;
    @include mq(lg) {
      margin-top: 3.2em !important;
    }
    .footer__item--sub {
      font-size: vw(26);
    }
  }
  .footer__subItems {
    background: url('../images/common/drawer-tree--sp.svg') no-repeat;
    background-size: vh_fv(19);
    margin: vh_fv(6) 0 0 vh_fv(14);
    padding: vh_fv(36) 0 0 vh_fv(40);
    @include mq(lg) {
      background: url('../images/common/drawer-tree.svg') no-repeat;
      margin: 10px 0 0 10px;
      padding: 23px 0 0 26px;
      background-size: 19px;
    }
  }
  .footer__subItem {
    letter-spacing: 0.18em;
    @include mq(lg) {
      font-size: 20px !important;
      letter-spacing: 0.1em;
    }
  }
  .footer__subItem + .footer__subItem {
    margin-top: vh_fv(42);
    @include mq(lg) {
      margin-top: 36px;
    }
  }
}
// ----------------------------------------
// ドロワーアニメーション 初期設定 (aria-expanded)
// ----------------------------------------
.drawer[aria-expanded] {
  transition-timing-function: $easeOutCirc;
  transition-duration: 0.4s;
  // transition-delay: 0.2s;
  transition-property: transform opacity;
}

.drawer[aria-expanded] .drawer__nav {
  // transition-timing-function: ease-out;
  // transition-duration: 1s;
  // transition-property: opacity transform;
}

// ----------------------------------------
// 開いているとき
// ----------------------------------------
.drawer[aria-expanded='true'] {
  opacity: 1;
  visibility: visible;
  // transform: translateX(0);
  // transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  // transition-duration: 0.3s;
  // transition-delay: 0.2s;
  // transition-property: transform opacity;
}

.drawer[aria-expanded='true'] .drawer__nav {
}

// ----------------------------------------
// 閉じているとき
// ----------------------------------------
.drawer[aria-expanded='false'] {
  opacity: 0;
  visibility: hidden;
  // transform: translateX(-101%);
  // transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  // transition-duration: 0.3s;
  // transition-delay: 0.2s;
  // transition-property: transformo pacity;
}
