@use '../global' as *;

.footer {
  $this: &;
  background-color: $primaryBlue;

  &__contents {
    // background-color: darkgoldenrod;
    color: white;
    // @include yumin-bold;
    padding: vw(95) vw(40) vw(95);
    @include mq(lg) {
      max-width: 1366px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 97px 140px 107px;
      a {
        transition: opacity 0.3s $easeOutCirc;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  &__item {
    line-height: 1;
    font-feature-settings: 'palt';
    letter-spacing: 0.1em;
    white-space: nowrap;
    & + .footer__item {
      margin-top: vw(25);
      @include mq(lg) {
        margin-top: 26px !important;
      }
    }
    &:nth-of-type(2) {
      .footer__item--sub {
        padding-left: vw(40);
        font-size: vw(22);
        & > span {
          padding: 0 0.5em;
        }
      }
    }
    &:last-of-type {
      margin-top: vw(30);
      @include mq(lg) {
        margin-top: 32px !important;
      }
      .footer__item--sub {
        font-size: vw(22);
      }
    }
    &--main {
      font-size: vw(26);
      @include roboto;
      font-weight: normal !important;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include mq(lg) {
        font-size: 20px;
      }
    }
    &--sub {
      position: relative;
      font-size: vw(24);
      padding-left: vw(45);
      letter-spacing: 0.08em;
      @include mq(lg) {
        padding-left: 30px !important;
        font-size: 17px !important;
        letter-spacing: 0.1em;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0.8em;
        transform: translateY(-50%);
        display: block;
        width: vw(8);
        height: vw(2);
        background-color: #fff;
        @include mq(lg) {
          width: 4px;
          height: 2px;
        }
      }
    }
  }
  &__subItems {
    margin: vw(5) 0 0 vw(5);
    padding: vw(27) 0 0 vw(27);
    background: url('../images/common/footer-tree--sp.svg') no-repeat;
    background-size: vw(13);
    background-position: top left;
    @include mq(lg) {
      background: url('../images/common/footer-tree.svg') no-repeat;
      margin: 15px 0 0 10px;
      padding: 15px 0 0 25px;
      background-size: 13px;
    }
  }
  &__subItem {
    font-size: vw(22);
    letter-spacing: 0.1em;
    @include mq(lg) {
      font-size: 15px;
    }
    & + .footer__subItem {
      margin-top: vw(28);
      @include mq(lg) {
        margin-top: 26px;
      }
    }
  }
  &__text {
    margin-top: vw(110);
    text-align: right;
    @include mq(lg) {
      margin-top: 0;
    }
  }
  &__external {
    font-size: vw(20);
    letter-spacing: 0em;
    @include mq(lg) {
      font-size: 15px;
      letter-spacing: -0.03em;
    }
    a {
      padding-right: vw(30);
      display: block;
      width: 100%;
      height: 100%;
      background: url('../images/common/icon-external--white.svg') no-repeat;
      background-size: 1.2em;
      background-position: top 10% right;
      @include mq(lg) {
        background-size: 1.5em;
        background-position: top right 1%;
        padding-right: 32px;
      }
    }
  }
  &__copyright {
    margin-top: vw(24);
    @include roboto;
    font-weight: normal !important;
    letter-spacing: 0.1em;
    font-size: vw(20);
    @include mq(lg) {
      margin-top: 25px;
      font-size: 14px;
    }
  }
}
