@use '../global' as *;

.main {
  position: relative;
  &__inner {
    width: vw(670);
    margin-left: auto;
    margin-right: auto;
    @include mq(lg) {
      width: min(vw_lg(980), 980px);
      // width: vw_lg(980);
    }
  }
}
