@use '../global' as *;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  // height: 100vh;
  @include vh100;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  // height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.modal__container {
  position: relative;
  width: vw(650);
  background-color: #fff;
  margin: vw(50) 0;
  padding: 0 vw(35);
  box-sizing: border-box;
  overflow-y: scroll;
  @include mq(lg) {
    width: 650px;
    height: 650px;
    // height: 100vh;
    // min-height: 650px;
    margin: 95px 0 0;
    padding: 0 45px;
    overflow: hidden;
  }
}
