@use '../global' as *;

.c-externalLink {
  display: inline-flex;
  color: var(--colorText);
  // color: $color-accent;
  margin-right: 0.5em;
  // border-bottom: 1px solid var(--colorText);
  text-decoration: underline;
  line-height: 1.2;
  svg {
    align-self: center;
    width: 0.9em;
    height: auto;
  }
}
:root.is-darkmode {
}
