@use '../global' as *;

.c-fukidashi {
  width: vw(590);
  position: relative;
  color: $primaryBlue;
  background-color: #fff;
  border: solid vw(1) $primaryBlue;
  border-radius: vw(12);
  padding: 1em;
  font-size: vw(22);
  line-height: lh(22, 36);
  @include yugo-medium;
  font-feature-settings: 'palt';
  letter-spacing: 0.08em;
  text-align: justify;
  text-justify: inter-ideograph;
  text-justify: inter-character;
  @include mq(lg) {
    width: 360px;
    font-size: 15px;
    line-height: lh(15, 24);
    letter-spacing: 0.1em;
    border: solid 1px $primaryBlue;
    border-radius: 8px;
  }
}

.c-fukidashi::before,
.c-fukidashi::after {
  content: '';
  position: absolute;
  left: 50%;
}

// 中の白▲
.c-fukidashi::before {
  top: vw(-42);
  margin-left: vw(-22);
  border: vw(22) solid transparent;
  border-bottom: vw(22) solid #fff;
  z-index: 20;
  @include mq(lg) {
    top: -29px;
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom: 16px solid #fff;
  }
}

// 黒▲
.c-fukidashi::after {
  top: vw(-44);
  margin-left: vw(-22);
  border: vw(22) solid transparent;
  border-bottom: vw(22) solid $primaryBlue;
  z-index: 10;
  @include mq(lg) {
    top: -30px;
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom: 16px solid $primaryBlue;
  }
}
