@use '../global' as *;
.c-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: vw(40);
  bottom: vw(40);
  z-index: 200;
  width: min(vw(100), 80px);
  height: min(vw(100), 80px);
  border: 1px solid $color-main;
  border-radius: 50%;
  @include mq(lg) {
    display: none;
  }
  &--close {
    width: min(vw(180), 160px);
    height: min(vw(90), 80px);
    border-width: 0;
    right: auto;
    left: vw(40);
    @include mq(lg) {
      width: 160px;
      height: 80px;
      display: block;
    }
    .c-hamburger__inner {
      &::before,
      &::after {
        width: 100%;
        top: 50%;
        left: 0;
        background-color: $color-base;
      }
      &::before {
        transform: rotate(30deg);
      }
      &::after {
        transform: rotate(-30deg);
      }
    }
  }
  &__inner {
    content: '';
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 80%;
      height: 1px;
      background-color: $color-main;
      transform: translateX(-50%);
      :root.is-darkmode & {
        background-color: $color-base;
      }
    }
    &::before {
      top: 30%;
    }
    &::after {
      bottom: 30%;
    }
  }
  :root.is-darkmode & {
    border-color: $color-base;
  }
}
