@use '../global' as *;

.c-highlightLink {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    height: 2px;
    // background-color: $color-base;
    // background-color: var(--colorText);
    background-color: var(--colorBg);
    transition: width 0.5s $easeInOutCirc;
  }
  &.is-current {
    pointer-events: none;
    position: relative;
    &::before {
      width: 100%;
    }
  }
}
