@use '../global' as *;

.c-movieBtn {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-top: vw(28) solid transparent;
    border-bottom: vw(28) solid transparent;
    border-left: vw(88) solid #ffffff;
    @include mq(lg) {
      border-top: 28px solid transparent;
      border-bottom: 28px solid transparent;
      border-left: 88px solid #ffffff;
    }
  }
}
