@use '../global' as *;

.c-splitTitle {
  overflow: hidden;
  &__inner {
    opacity: 0;
    span {
      display: inline-block;
      transform: translateY(101%);
      animation-name: showEachChar;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      // will-change: transform;
      @keyframes showEachChar {
        0% {
          transform: translateY(101%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @for $i from 1 through 10 {
      span:nth-of-type(#{$i}) {
        animation-delay: #{$i * 0.08}s;
      }
    }
  }
}
