@use '../global' as *;

.c-switchMode {
  position: fixed;
  z-index: 100;
  top: vw(20);
  right: vw(40);
  display: inline-flex;
  align-items: center;
  font-family: $roboto-mono;
  pointer-events: none;
  @include mq(lg) {
    width: auto;
    top: 30px;
    left: 80px;
  }
  &__text {
    color: var(--colorText);
    font-size: min(vw(28), 20px);
    @include mq(lg) {
      // color: $color-base;
      color: var(--colorBg);
      font-size: 20px;
    }
  }
  &__btn {
    pointer-events: all;
    margin-left: vw(32);
    @include mq(lg) {
      margin-left: 20px;
    }
  }
}
