@use '../global' as *;

body.culture {
  // color: darkorange;
  .fv {
    position: relative;
    width: 100%;
    height: vw(1000);
    @include webpBg('../images/culture/fv-bg--sp', 'png');
    background-size: 100% auto;
    background-position: top;
    @include mq(lg) {
      height: 100vh;
      @include webpBg('../images/culture/fv-bg', 'png');
      background-size: auto 100%;
      background-repeat: repeat-x;
    }
    &__title {
      position: relative;
      z-index: 10;
      padding: vw(260) 0 0 vw(40);
      @include mq(lg) {
        padding: vh_lg(269) 0 0 142px;
      }
      picture {
        display: block;
        width: vw(270);
        @include mq(lg) {
          width: 195px;
        }
      }
      source,
      img {
        display: block;
        width: 100%;
      }
      // source,
      // img {
      //   display: block;
      //   width: vw(270);
      //   @include mq(lg) {
      //     width: 195px;
      //   }
      // }
    }
    &__titleText {
      display: block;
      margin-top: 1em;
      font-size: vw(64);
      line-height: lh(64, 108);
      font-feature-settings: 'palt';
      letter-spacing: 0.1em;
      @include mq(lg) {
        margin-top: 0.4em;
        font-size: 64px;
        line-height: lh(64, 92);
        letter-spacing: 0.1em;
        br {
          display: none;
        }
      }
    }
    &__arrows {
      width: vw(900);
      position: absolute;
      z-index: 0;
      top: vw(80);
      left: vw(-260);
      @include mq(lg) {
        // width: min(vw_lg(1113), 1113px);
        width: 1113px;
        top: 32px;
        left: -235px;
        &.is-fromLeft {
          transform: translate3d(-80px, 0, 0);
        }
      }
    }
  }
  .section {
    font-feature-settings: 'palt';
    &__desc {
      font-size: vw(22);
      line-height: lh(22, 48);
      letter-spacing: 0.1em;
      text-align: justify;
      text-justify: inter-ideograph;
      text-justify: inter-character;
      @include mq(lg) {
        font-size: 14px;
        line-height: lh(14, 36);
      }
    }
  }

  .culture {
    $this: &;
    padding: 0 vw(40) vw(320);
    @include mq(lg) {
      padding: 0 0 285px;
      overflow: hidden;
    }
    &__title {
      display: flex;
      width: vw(500);
      height: vw(93);
      @include webpBg('../images/culture/culture-arrow--sp', 'png');
      background-repeat: no-repeat;
      background-size: contain;
      @include mq(lg) {
        // margin-left: min(vw_lg(138), 138px);
        margin-left: vw_lg(138);
        width: 500px;
        height: 92.5px;
      }
    }
    &__titleInner {
      display: block;
      font-size: vw(64);
      line-height: 1;
      letter-spacing: 0.1em;
      @include mq(lg) {
        font-size: 64px;
      }
    }
    &__sectionContainer {
      margin-top: vw(100);
      @include mq(lg) {
        margin-top: 50px;
        width: min(vw_lg(1366), 1366px);
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__content {
      @include mq(lg) {
        width: min(vw_lg(1171), 1171px);
        margin-left: auto;
        margin-right: auto;
      }
      & + .culture__content {
        margin-top: vw(200);
        @include mq(lg) {
          // margin-top: 175px;
          margin-top: 215px;
        }
      }

      // くしゃみ
      &:nth-of-type(1) {
        @include mq(lg) {
          margin-right: 0;
        }
        .culture__lead img {
          width: vw(133);
          margin-right: 0.5em;
          @include mq(lg) {
            width: 120px;
            margin-right: 0.1em;
          }
        }
      }
      // フラット
      &:nth-of-type(2) {
        @include mq(lg) {
          margin-left: 0;
        }
        .culture__lead {
          justify-content: flex-end;
          img {
            width: vw(159);
            margin-left: 0.5em;
            @include mq(lg) {
              width: 144px;
              margin-left: 1.2em;
            }
          }
        }
        .culture__contentInner {
          @include mq(lg) {
            padding-right: min(vw_lg(130), 130px);
          }
        }
        .culture__desc {
          @include mq(lg) {
            margin-left: auto;
            margin-right: 0;
            padding: 0 0 0.5em 1.5em;
          }
        }
        .culture__photo {
          transform: translateX(vw(-40));
          @include mq(lg) {
            top: 28px;
            left: 0;
          }
          &::before {
            left: vw(40);
            transform: scaleX(-1);
            @include mq(lg) {
              left: 30px;
            }
          }
        }
      }
      // ベンチャー
      &:nth-of-type(3) {
        // margin-top: vw(170);
        margin-top: vw(220);
        @include mq(lg) {
          margin-right: 0;
          margin-top: 250px;
        }
        .culture__contentInner {
          @include mq(lg) {
            margin-top: 13px;
          }
        }
        .culture__lead img {
          width: vw(156);
          margin-right: 0.5em;
          @include mq(lg) {
            width: 141px;
            margin-right: -0.3em;
            margin-top: -0.9em;
          }
        }
        .culture__desc {
          margin-top: 1.7em;
        }
        .culture__photo {
          @include mq(lg) {
            top: 50px;
          }
        }
      }
    }
    &__contentInner {
      @include mq(lg) {
        margin-top: -8px;
        position: relative;
        padding-left: min(vw_lg(130), 130px);
      }
    }
    &__lead {
      display: flex;
      align-items: center;
      font-size: vw(64);
      line-height: lh(64, 80);
      letter-spacing: 0.1em;
      @include mq(lg) {
        position: relative;
        z-index: 30;
        font-size: 64px;
        line-height: lh(64, 70);
        letter-spacing: 0.12em;
      }
      img {
        display: inline-block;
        margin-top: -0.3em;
        @include mq(lg) {
          margin-top: 0.3em;
        }
      }
      span {
        display: inline-block;
      }
    }
    &__desc {
      margin-top: 2.2em;
      @include mq(lg) {
        position: relative;
        z-index: 20;
        margin-top: 0 !important;
        width: min(vw_lg(540), 540px);
        background-color: #fff;
        padding: 0 1.5em 0.5em 0;
      }
    }
    &__photo {
      position: relative;
      width: 100%;
      margin-top: vw(66);
      transform: translateX(vw(40));
      @include mq(lg) {
        position: absolute;
        top: 28px;
        right: 0;
        z-index: 10;
        margin-top: 0;
        transform: none !important;
        width: min(vw_lg(600), 600px);
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: vw(-40);
        left: vw(-40);
        z-index: -1;
        width: 100%;
        height: 100%;
        @include webpBg('../images/culture/culture-gradient', 'png');
        background-repeat: no-repeat;
        background-size: cover;
        @include mq(lg) {
          bottom: -30px;
          left: -30px;
        }
      }
    }
  }
  // =====================================
  // 制度・仕組み
  // =====================================
  .system {
    // margin-top: vw(320);
    padding: 0 vw(40) vw(260);
    @include mq(lg) {
      padding: 0 0 265px;
      overflow: hidden;
    }
    .sectionContainer {
      @include mq(lg) {
        width: min(vw_lg(980), 980px);
        margin: 0 auto;
      }
    }
    &__title {
      display: flex;
      width: vw(500);
      height: vw(93);
      @include webpBg('../images/culture/system-arrow--sp', 'png');
      background-repeat: no-repeat;
      background-size: contain;
      @include mq(lg) {
        width: 500px;
        height: 95.5px;
        margin-left: vw_lg(138);
      }
    }
    &__titleInner {
      display: block;
      font-size: vw(64);
      line-height: 1;
      font-feature-settings: 'palt';
      letter-spacing: 0.08em;
      @include mq(lg) {
        font-size: 64px;
      }
    }
    &__lead {
      font-size: vw(48);
      line-height: lh(48, 68);
      letter-spacing: 0.08em;
      @include mq(lg) {
        font-size: 40px;
        line-height: lh(40, 92);
        white-space: nowrap;
        br {
          display: none;
        }
      }
      img {
        position: absolute;
        display: block;
        z-index: 0;
      }
    }
    &__leadText {
      position: relative;
      z-index: 10;
    }
    &__desc {
      margin-top: 1.6em;
      letter-spacing: 0;
      @include mq(lg) {
        margin-top: -0.4em;
        width: min(vw_lg(770), 770px);
      }
    }
    &__development {
      margin-top: vw(90);
      @include mq(lg) {
        margin-top: 35px;
        padding-top: 28px;
        background: url('../images/culture/system-icon00.svg') no-repeat;
        background-size: 279px;
        background-position: top 0 right 36px;
      }
    }
    .development {
      &__items {
        margin-top: vw(60);
        @include mq(lg) {
          margin-top: 18px;
        }
      }
      &__item {
        border-top: vw(2) solid $lihgtBlue;
        padding-bottom: 1.2em;
        @include yugo-bold;
        @include mq(lg) {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 12px 0;
          border-top: 2px solid $lihgtBlue;
        }
        // オンボーディング
        &:nth-of-type(1) {
          .development__title {
            background: url('../images/culture/system-icon01.svg') no-repeat;
            background-size: vw(90);
            background-position: center left 7%;
            @include mq(lg) {
              background-size: 75px;
            }
          }
        }
        // 目標面談制度
        &:nth-of-type(2) {
          .development__title {
            letter-spacing: 0.1em;
            background: url('../images/culture/system-icon02.svg') no-repeat;
            background-size: vw(67);
            background-position: top 45% left 12%;
            @include mq(lg) {
              background-size: 55px;
              background-position: top 42% left 10%;
            }
          }
        }
        // メンター制度
        &:nth-of-type(3) {
          .development__title {
            background: url('../images/culture/system-icon03.svg') no-repeat;
            background-size: vw(79);
            background-position: center left 11%;
            @include mq(lg) {
              background-size: 62px;
              background-position: center left 10%;
            }
          }
          border-bottom: vw(2) solid $lihgtBlue;
          @include mq(lg) {
            border-bottom: 2px solid $lihgtBlue;
          }
        }
      }
      &__title {
        display: inline-flex;
        align-items: center;
        height: 4em;
        padding-left: 4em;
        font-size: vw(32);
        @include mq(lg) {
          flex: 0 0 345px;
          height: 100%;
          padding: 0.8em 0 0.8em 4.2em;
          font-size: 25px;
          line-height: 1;
          border-right: 2px solid $lihgtBlue;
        }
      }
      &__desc {
        margin-top: -0.7em;
        padding-left: 2em;
        font-size: vw(21);
        line-height: lh(21, 38);
        @include mq(lg) {
          display: flex;
          align-items: center;
          flex: 0 1 635px;
          padding: 1.5em 2em 0.8em 1.6em;
          font-size: 14px;
          line-height: lh(14, 21);
          letter-spacing: 0;
        }
      }
    }

    &__contentContainer {
      margin-top: vw(120);
      @include mq(lg) {
        margin-top: 80px;
      }
    }

    &__content {
      position: relative;
      @include mq(lg) {
        padding-left: 210px;
      }
      & + .system__content {
        margin-top: vw(175);
        @include mq(lg) {
          margin-top: 100px;
        }
      }
      .system__desc {
        @include mq(lg) {
          width: 100%;
        }
      }
      // 社内公募制度
      &:nth-of-type(1) {
        padding-top: vw(70);
        @include mq(lg) {
          padding-top: 20px;
        }
        .system__lead {
          text-align: right;
          @include mq(lg) {
            text-align: left;
          }
          img {
            width: vw(280);
            top: vw(6);
            left: vw(-10);
            @include mq(lg) {
              width: 240px;
              top: 0;
              left: 13px;
            }
          }
        }
      }
      // MVP
      &:nth-of-type(2) {
        @include mq(lg) {
          padding-left: 0;
          padding-right: 210px;
        }
        .system__lead {
          letter-spacing: 0.1em;
          img {
            width: vw(240);
            top: vw(-116);
            right: 0;
            @include mq(lg) {
              width: 193px;
              top: -8px;
              right: 38px;
            }
          }
        }
        .system__leadText > span {
          letter-spacing: -0.07em;
        }
      }
      // M3 partient
      &:nth-of-type(3) {
        @include mq(lg) {
          margin-top: 107px;
        }
        .system__lead {
          text-align: right;
          letter-spacing: 0.09em;
          @include mq(lg) {
            text-align: left;
          }
          img {
            width: vw(229);
            top: vw(-64);
            left: 0;
            @include mq(lg) {
              width: 196px;
              top: -40px;
              left: 40px;
            }
          }
        }
      }
      // 会社の枠
      &:nth-of-type(4) {
        @include mq(lg) {
          margin-top: 162px;
          padding-left: 0;
          padding-right: 210px;
        }
        .system__lead {
          @include mq(lg) {
            letter-spacing: 0.05em;
          }
          img {
            width: vw(227);
            top: vw(-126);
            right: vw(12);
            @include mq(lg) {
              width: 210px;
              top: -90px;
              right: 44px;
            }
          }
        }
      }
    }
  }
}
