@use '../global' as *;

body.is-member {
  .fv {
    position: relative;
    width: 100%;
    height: vw(1000);
    @include mq(lg) {
      margin-top: $pcHeaderHeight;
      height: calc(100vh - $pcHeaderHeight);
      object-position: right;
    }
  }
  .fv__box {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: vw(640);
    top: vw(900);
    left: 0;
    @include mq(lg) {
      top: min(vh_lg(110), 110px);
      left: auto;
      right: 0;
      z-index: 20;
      width: 560px;
    }
  }
  .fv__boxInner {
    padding: 1.8em 0 1.8em 1.2em;
    @include mq(lg) {
      padding: 3.3em 0 3.3em 3.8em;
    }
  }
  .fv__desc {
    margin-top: 1.5em;
    @include mq(lg) {
      margin-top: 2em;
    }
  }
  .fv__details {
    margin-top: 1em;
    @include mq(lg) {
      margin-top: 1.3em;
    }
  }
  .fv__title {
    font-feature-settings: 'palt';
    letter-spacing: 0.1em;
    font-size: vw(38);
    line-height: lh(38, 64);
    @include mq(lg) {
      font-size: 28px;
      line-height: lh(28, 42);
    }
  }
  .fv__arrow {
    position: absolute;
    top: vw(640);
    left: 0;
    z-index: 20;
    width: vw(640);
    transform-origin: left center;
    opacity: 0;
    @include mq(lg) {
      z-index: 10;
      top: auto;
      bottom: max(vw_lg(-120), -120px);
      // width: min(vw_lg(1116), 1116px);
      width: vw_lg(1116);
    }
    &.is-arrow {
      animation: strechRight 1s $easeInOutCubic forwards 0.6s;
    }
    source,
    img {
      width: 100%;
    }
  }
  .fv__bg {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    picture {
      width: 100%;
      height: 100%;
    }
    source,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .pageMember {
    &__bg {
      padding-top: vw(560);
      background-size: cover;
      @include webpBg('../images/member/bg-gradient--sp', 'png');
      overflow: hidden;
      @include mq(lg) {
        padding-top: 170px !important;
        @include webpBg('../images/member/bg-gradient', 'png');
      }
    }
    &__footer {
      margin-top: vw(104);
      @include mq(lg) {
        margin-top: 110px;
      }
    }
    &__footerPhoto {
      width: 100%;
      height: vw(560);
      overflow: hidden;
      background-color: #fff;
      @include mq(lg) {
        height: vw_lg(560);
        // height: 560px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // object-position: center;
        }
      }
      // @include mq(wqHd) {
      //   source,
      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: cover;
      //   }
      // }
    }
    &__archive {
      position: relative;
      padding: vw(80) 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      @include mq(lg) {
        padding: 60px 0;
        justify-content: flex-end;
      }
    }
    &__archiveInner {
      position: relative;
      width: vw(170);
      height: vw(56);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 0;
      background: url('../images/common/btn-arrowParts--blueLeft.svg') no-repeat;
      background-size: contain;
      background-position: left;
      font-size: vw(28);
      line-height: 1;
      transition: width 0.3s $easeOutCirc;
      @include mq(lg) {
        width: 105px;
        height: 36px;
        font-size: 16px;
        margin-right: 46%;
        &:hover {
          width: 140px;
          &::before {
            width: 50%;
          }
        }
      }
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 50%;
        left: vw(28);
        background-color: $primaryBlue;
        width: vw(30);
        height: vw(10);
        transform: translateY(-50%);
        transition: width 0.3s $easeOutCirc;
        @include mq(lg) {
          width: 25%;
          height: 6px;
          left: auto;
          right: 65px;
        }
      }
      a {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        right: vw(3);
        @include mq(lg) {
          right: 5px;
        }
      }
      span {
        @include yugo-medium;
        // font-weight: bold;
        letter-spacing: -0.05em;
      }
    }
  }
}

@keyframes strechRight {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// ページごとに変わる部分
// @for $i from 1 through 6 {
//   body.is-member.member00#{$i} {
//     .fv {
//       @include webpBg('../images/member/member00#{$i}-fv--sp', 'jpg');
//       @include mq(lg) {
//         @include webpBg('../images/member/member00#{$i}-fv', 'jpg');
//       }
//     }
//   }
// }
