@use '../global' as *;

body.is-member.member006 {
  .fv__box {
    @include mq(lg) {
      top: min(vh_lg(128), 128px);
    }
  }
  .fv__boxInner {
    @include mq(lg) {
      padding-top: 3.3em;
    }
  }
  .fv__desc {
    @include mq(lg) {
      margin-top: 2.1em;
      .c-membersArticle__name {
        letter-spacing: 0.1em;
      }
    }
  }
  .fv__details {
    margin-top: 0.8em;
    @include mq(lg) {
      margin-top: 1.2em;
    }
    dd {
      &.belong {
        letter-spacing: 0.12em;
        font-feature-settings: 'palt';
      }
      &.ex {
        letter-spacing: 0.12em;
      }
    }
  }
  .pageMember__bg {
    padding-top: vw(530);
  }
}
