@use '../global' as *;

body.mission {
  // color: red;
  .c-fvGradientArrows {
    &__title {
      width: vw(528);
      @include mq(lg) {
        width: 590px;
        top: -102px;
        left: 144px;
      }
    }
    &__lead {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
      background-color: transparent;
      margin-bottom: -0.02em;
      @include mq(lg) {
        display: block;
        padding: 0.5em 0.8em 0.1em 0.9em;
        background-color: #fff;
        margin-bottom: 0;
        letter-spacing: 0.1em;
      }
      span {
        background-color: #fff;
        display: inline-block;
        width: fit-content;
        padding: 0.5em 0.4em 0 0.5em;
        @include mq(lg) {
          padding: 0;
        }
        &:first-of-type {
          margin-bottom: -0.02em;
          @include mq(lg) {
            margin-bottom: 0;
          }
        }
      }
    }
    &__photo {
      source,
      img {
        object-position: center;
      }
    }
  }

  .contents {
    padding: vw(96) 0 vw(270);
    font-feature-settings: 'palt';
    @include mq(lg) {
      padding: 156px 0 205px;
    }
    &__intro {
      @include mq(lg) {
        // margin-left: -50px;
        margin-left: min(vw_lg(-50), -50px);
      }
      // 英語
      &:nth-of-type(2) {
        margin-top: 2.2em;
        @include mq(lg) {
          margin-top: 3.3em;
        }
        .contents__introTitle {
          font-size: vw(32);
          line-height: lh(32, 58);
          letter-spacing: 0;
          @include mq(lg) {
            font-size: 28px;
            line-height: lh(28, 48);
          }
        }
        .contents__introDesc {
          @include mq(lg) {
            font-size: 18px;
            padding-left: 2.8em;
          }
        }
      }
    }
    &__introTitle {
      font-size: vw(40);
      line-height: lh(40, 84);
      letter-spacing: 0.1em;
      @include mq(lg) {
        // font-size: 48px;
        font-size: 42px;
        line-height: lh(48, 84);
        .is-sp {
          display: none;
        }
      }
    }
    &__introDesc {
      margin-top: 0.7em;
      padding-left: 2.5em;
      font-size: vw(22);
      line-height: lh(22, 56);
      letter-spacing: 0.1em;
      position: relative;
      @include mq(lg) {
        font-size: 22px;
        margin-top: 0.5em;
        padding-left: 2.4em;
      }
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2em;
        height: vw(2);
        background-color: $primaryBlue;
        @include mq(lg) {
          width: 40px;
          height: 2px;
        }
      }
    }
    &__link {
      margin-top: vw(160);
      @include mq(lg) {
        margin-top: 145px;
      }
    }
    &__linkItems {
      display: flex;
      justify-content: space-between;
      @include mq(lg) {
        width: 660px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__linkItem {
      width: vw(210);
      height: vw(210);
      border: vw(1) solid $primaryBlue;
      border-radius: 50%;
      font-size: vw(24);
      line-height: lh(24, 34);
      text-align: center;
      letter-spacing: 0.1em;
      @include mq(lg) {
        width: 200px;
        height: 200px;
        font-size: 20px;
        line-height: lh(20, 34);
        border: 1px solid $primaryBlue;
      }
    }
    &__linkAnchor {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include mq(lg) {
        &:hover {
          &::before {
            height: 65px;
          }
          &::after {
            height: 60px;
          }
        }
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%);
      }
      &::before {
        bottom: vw(-20);
        width: vw(40);
        height: vw(40);
        background: url('../images/common/btn-arrowParts--blueBottom.svg')
          no-repeat;
        background-size: contain;
        background-position: bottom;
        @include mq(lg) {
          transition: height 0.2s $easeOutCirc;
          top: 185px;
          bottom: auto;
          width: 40px;
          height: 35px;
        }
      }
      &::after {
        bottom: 0;
        width: vw(8);
        height: vw(35);
        background-color: $primaryBlue;
        @include mq(lg) {
          transition: height 0.2s $easeOutCirc;
          top: 170px;
          bottom: auto;
          width: 7.5px;
          height: 30px;
        }
      }
    }
    &__inner {
      margin-top: 2em;
      @include mq(lg) {
        width: 820px;
        max-width: 100%;
        margin: 4.4em auto 0;
      }
    }
    &__titleBox {
      text-align: center;
      width: 100%;
      padding: 0.6em 0;
      font-size: vw(28);
      line-height: 1;
      letter-spacing: 0.1em;
      @include mq(lg) {
        padding: 0.4em 0;
        font-size: 22px;
      }
    }
    &__lead {
      font-size: vw(44);
      line-height: lh(44, 72);
      letter-spacing: 0.1em;
      @include mq(lg) {
        font-size: 40px;
        line-height: lh(40, 56);
        .is-sp {
          display: none;
        }
      }
    }
    &__desc {
      margin-top: 2.5em;
      font-size: vw(22);
      line-height: lh(22, 48);
      text-align: justify;
      text-justify: inter-ideograph;
      text-justify: inter-character;
      letter-spacing: 0.1em;
      @include mq(lg) {
        margin-top: 2.7em;
        font-size: 14px;
        line-height: lh(14, 36);
      }
    }
  }
  .domain {
    margin-top: vw(244);
    @include mq(lg) {
      margin-top: 220px;
    }
    &__group {
      margin-top: vw(105);
      @include mq(lg) {
        margin-top: 78px;
      }
    }
    &__groupTitle {
      font-size: vw(24);
      @include yugo-medium;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.1em;
      @include mq(lg) {
        font-size: 20px;
        letter-spacing: 0.05em;
      }
    }
    &__figureBox {
      width: 98%;
      margin: vw(34) auto 0;
      padding: vw(60) 0 0;
      border: vw(2) solid $primaryBlue;
      @include mq(lg) {
        position: relative;
        width: 100%;
        margin: 38px auto 0;
        padding: 0;
        border: 0;
      }
    }
    &__figureItemFlex {
      @include mq(lg) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    &__figureItem {
      width: 100%;
      margin: vw(40) auto 0;
      padding: 0 vw(50);
      @include mq(lg) {
        position: relative;
        z-index: 10;
        // margin: 40px 0 0;
        margin: min(vw_lg(40), 40px) 0 0;
        padding: 0;
      }
      source,
      img {
        width: 100%;
      }
      &.is-1 {
        width: vw(354);
        margin-top: 0;
        padding: 0;
        @include mq(lg) {
          // width: 577px;
          width: min(vw_lg(577), 577px);
          position: absolute;
          z-index: 0;
          top: 193px;
          left: 190px;
          top: 11.5%;
          left: 19.4%;
          // transform: translate(-50%, -50%);
        }
      }
      &.is-2 {
        margin-top: vw(68);
        @include mq(lg) {
          margin-top: 0;
        }
      }
      &.is-3 {
        @include mq(lg) {
          // width: 420px;
          width: min(vw_lg(420), 420px);
          // flex: 0 1 420px;
        }
      }
      &.is-4 {
        @include mq(lg) {
          // width: 420px;
          width: min(vw_lg(420), 420px);
          // flex: 0 1 420px;
        }
      }
      &.is-5 {
        padding-bottom: vw(60);
        @include mq(lg) {
          // width: 270px;
          width: min(vw_lg(270), 270px);
          // margin-top: 50px;
          margin-top: min(vw_lg(50), 50px);
          // padding-bottom: 90px;
          padding-bottom: min(vw_lg(90), 90px);
          // padding-bottom: min(vw_lg(80), 90px);
        }
      }
      &.is-6 {
        margin-top: 0;
        @include mq(lg) {
          // width: 420px;
          width: min(vw_lg(420), 420px);
        }
      }
      &.is-7 {
        @include mq(lg) {
          margin-top: 0;
          // width: 420px;
          width: min(vw_lg(420), 420px);
        }
      }
    }
    &__figureYellow {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: vw(60) 0 vw(35);
      background-color: #fff6df;
      @include mq(lg) {
        // padding: 40px 50px;
        padding: min(vw_lg(40), 40px) min(vw_lg(50), 50px);
        width: 100%;
      }
    }
    &__figureYellowTitle {
      display: inline-block;
      width: fit-content;
      margin-top: 1.5em;
      padding: 0.6em 1.3em;
      font-size: vw(26);
      @include yugo-bold;
      text-align: center;
      line-height: 1;
      letter-spacing: 0.05em;
      background-color: #00ab78;
      color: #fff;
      @include mq(lg) {
        // margin-top: 30px;
        margin-top: min(vw_lg(30), 30px);
        padding: 0.8em 7em;
        font-size: 16px;
        letter-spacing: 0.1em;
      }
    }
    &__figureYellowInner {
      @include mq(lg) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  // END .domain

  .offer {
    margin-top: vw(260);
    @include mq(lg) {
      margin-top: 200px;
    }
    &__figure {
      margin-top: vw(80);
      text-align: center;
      @include mq(lg) {
        width: 700px;
        margin: 30px auto 0;
      }
      source,
      img {
        width: 100%;
      }
    }
  }
  // END .offer
  .possibility {
    margin-top: vw(260);
    @include mq(lg) {
      margin-top: 200px;
    }
    &__content {
      @include mq(lg) {
        width: 748px;
        max-width: 100%;
        margin: 70px auto 0;
      }
    }
    &__figcaption {
      margin-top: 4.4em;
      font-size: vw(24);
      @include yugo-medium;
      text-align: center;
      line-height: 1;
      letter-spacing: 0.08em;
      @include mq(lg) {
        margin-top: 0;
        font-size: 20px;
        letter-spacing: 0.02em;
        transform: translateX(34px);
      }
    }
    &__figure {
      margin-top: vw(44);
      text-align: center;
      @include mq(lg) {
        margin-top: 23px;
      }
      source,
      img {
        width: 100%;
      }
    }
    .contents__lead {
      @include mq(lg) {
        letter-spacing: 0.08em;
      }
    }
  }
  // END .possibility
}
