@use '../global' as *;

body.figures {
  // color: darkred;
  // background-color: lightseagreen;
  .fv {
    position: relative;
    width: 100%;
    height: vw(1000);
    @include webpBg('../images/suji/fv-bg--sp', 'png');
    background-size: 100% auto;
    background-position: top;
    @include mq(lg) {
      height: 100vh;
      @include webpBg('../images/suji/fv-bg_2', 'png');
      background-size: auto 100%;
      background-repeat: repeat-x;
    }
    &__inner {
      position: relative;
      z-index: 10;
      padding: vw(260) 0 0 vw(40);
      @include mq(lg) {
        padding: vh_lg(189) 0 0 142px;
      }
    }
    &__title {
      picture {
        display: block;
        width: vw(270);
        @include mq(lg) {
          width: 195px;
        }
      }
      source,
      img {
        display: block;
        width: 100%;
      }
      // source,
      // img {
      //   display: block;
      //   width: vw(270);
      //   @include mq(lg) {
      //     width: 195px;
      //   }
      // }
    }
    &__titleText {
      display: block;
      margin-top: 1em;
      font-size: vw(64);
      line-height: lh(64, 108);
      font-feature-settings: 'palt';
      letter-spacing: 0.08em;
      @include mq(lg) {
        margin-top: 0.4em;
        font-size: 64px;
        line-height: lh(64, 92);
      }
    }
    &__desc {
      margin-top: 1.6em;
      font-size: vw(26);
      line-height: lh(26, 48);
      @include mq(lg) {
        font-size: 20px;
        line-height: 1;
        margin-top: 0.9em;
        br {
          display: none;
        }
      }
    }
    &__arrows {
      width: vw(900);
      position: absolute;
      z-index: 0;
      top: vw(80);
      left: vw(-260);
      @include mq(lg) {
        // width: min(vw_lg(1113), 1113px);
        width: 1113px;
        top: 32px;
        left: -235px;
        &.is-fromLeft {
          transform: translate3d(-80px, 0, 0);
        }
      }
    }
  }
  // END fv
  .content {
    @include mq(lg) {
      overflow: hidden;
    }
    &__title {
      font-size: vw(32);
      line-height: 1;
      @include mq(lg) {
        font-size: 26px;
      }
    }
    &__inner {
      padding: 0 vw(40) vw(280);
      @include mq(lg) {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 240px;
      }
    }
  }
  .percentage {
    margin-top: vw(250);
    @include mq(lg) {
      margin-top: 180px;
      display: flex;
      justify-content: space-between;
    }
    &__section {
      // 中途入社比率
      &:nth-of-type(1) {
        .percentage__inner {
          padding-right: vw(90);
          @include mq(lg) {
            padding-right: 8px;
          }
        }
        .percentage__title {
          margin-right: vw(40);
          letter-spacing: 0.08em;
          @include mq(lg) {
            margin-right: 10px;
          }
        }
        .percentage__obj {
          width: vw(225);
          bottom: vw(18);
          left: vw(84);
          @include mq(lg) {
            width: 146px;
            bottom: 5px;
            left: 11px;
          }
        }
        .percentage__number {
          @include mq(lg) {
            margin-top: -5px;
          }
        }
        .unit {
          @include roboto;
          font-weight: normal;
          font-size: vw(110);
          vertical-align: super;
          margin-left: vw(12);
          @include mq(lg) {
            font-size: 90px;
            margin-left: 0;
            vertical-align: bottom;
          }
        }
      }
      // 複数事業社員数
      &:nth-of-type(2) {
        margin-top: vw(160);
        @include mq(lg) {
          margin-top: 0;
          flex: 0 0 auto;
        }
        .percentage__title {
          margin-right: vw(50);
          letter-spacing: 0.05em;
          @include mq(lg) {
            margin-right: 25px;
          }
        }
        .percentage__obj {
          width: vw(232);
          left: 0;
          bottom: vw(14);
          @include mq(lg) {
            width: 164px;
            left: auto;
            right: 325px;
            bottom: 10px;
          }
        }
        .percentage__number {
          margin-top: vw(-8);
          margin-right: vw(192);
          text-align: right;
          @include mq(lg) {
            margin-right: 135px;
            margin-top: 0px;
          }
        }
        .number {
          font-size: vw(200);
          @include mq(lg) {
            display: inline-block;
            min-width: 3em;
            font-size: 135px;
          }
        }
        .unit {
          font-size: vw(72);
          @include mq(lg) {
            font-size: 50px;
          }
        }
        .base {
          display: block;
          position: absolute;
          right: 0;
          bottom: vw(-4);
          font-size: vw(88);
          @include mq(lg) {
            font-size: 55px;
            bottom: -3px;
          }
          .number {
            @include roboto;
            font-size: vw(72);
            min-width: initial;
            opacity: 1;
            font-weight: normal;
            @include mq(lg) {
              font-size: 50px;
              line-height: 1;
            }
          }
        }
        .people {
          font-size: vw(30);
          @include yugo-bold;
          vertical-align: bottom;
          margin-left: vw(-20);
          @include mq(lg) {
            margin-left: -12px;
            font-size: 20px;
          }
        }
        .percentage__fukidashi {
          @include mq(lg) {
            margin: 2em 4.2em 0 auto;
          }
        }
      }
    }
    &__inner {
      position: relative;
      text-align: right;
    }
    &__text {
      display: inline-block;
      position: relative;
      z-index: 10;
    }
    &__number {
      @include yugo-bold;
      .number {
        @include roboto;
        font-size: vw(200);
        opacity: 0;
        font-weight: normal;
        @include mq(lg) {
          font-size: 135px;
        }
      }
      .unit {
        font-size: vw(120);
        @include mq(lg) {
          font-size: 80px;
        }
      }
    }
    &__obj {
      position: absolute;
      z-index: 0;
    }
    &__fukidashi {
      margin: 1.5em auto 0;
      @include mq(lg) {
        margin-top: 2.3em;
      }
    }
  }

  .network {
    margin-top: vw(200);
    @include mq(lg) {
      margin-top: 140px;
    }
    &__title {
      text-align: center;
      letter-spacing: 0.1em;
      font-feature-settings: 'palt';
    }
    &__inner {
      position: relative;
      padding-top: vw(44);
      @include mq(lg) {
        padding-top: 55px;
        width: 100%;
      }
    }
    &__figureText {
      position: absolute;
      top: vw(64);
      left: vw(78);
      z-index: 20;
      width: vw(240);
      @include mq(lg) {
        width: 210px;
        top: 69px;
        left: 75px;
      }
    }
    &__figureImage {
      width: 100%;
      position: relative;
      z-index: 10;
      @include mq(lg) {
        width: 977px;
        max-width: 100%;
      }
    }
    &__fukidashi {
      margin: vw(76) auto 0;
      @include mq(lg) {
        position: absolute;
        right: 50px;
        bottom: -5px;
        width: 260px;
        margin: 0;
        &::before,
        &::after {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          margin-left: 0;
        }
        &::before {
          border: 12px solid transparent;
          border-right: 16px solid #fff;
          left: -14px;
        }
        &::after {
          border: 12px solid transparent;
          border-right: 16px solid $primaryBlue;
          left: -15px;
        }
      }
    }
  }

  .country {
    margin-top: vw(200);
    width: 100%;
    height: vw(670);
    position: relative;
    @include mq(lg) {
      width: 640px;
      height: 640px;
      margin: 92px auto 0;
    }
    &__title {
      padding-top: vw(188);
      text-align: center;
      letter-spacing: 0.1em;
      @include mq(lg) {
        padding-top: 190px;
      }
    }
    &__numbers {
      padding-top: vw(22);
      text-align: center;
      font-size: vw(54);
      @include yugo-bold;
      @include mq(lg) {
        padding-top: 20px;
        font-size: 50px;
      }
      .number {
        font-size: vw(150);
        @include roboto;
        opacity: 0;
        display: inline-block;
        min-width: 1em;
        font-weight: normal;
        @include mq(lg) {
          font-size: 135px;
        }
        // 11ヵ国
        &:first-of-type {
          margin-right: -0.1em;
          letter-spacing: -0.05em;

          @include mq(lg) {
            margin-right: 0.02em;
            letter-spacing: -0.1em;
          }
        }
        // 56事業
        &:last-of-type {
          margin-left: 0.25em;
          margin-right: 0.05em;
          @include mq(lg) {
            letter-spacing: 0.05em;
          }
        }
      }
    }
    &__obj {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: vw(670);
      @include mq(lg) {
        width: 100%;
      }
    }
    &__fukidashi {
      margin: vw(60) auto 0;
      @include mq(lg) {
        margin-top: 2.5em;
      }
    }
  }

  .potential {
    margin-top: vw(200);
    @include mq(lg) {
      margin-top: 103px;
    }
    &__title {
      text-align: center;
      letter-spacing: 0.02em;
    }
    &__inner {
      padding-top: vw(46);
      position: relative;
      @include mq(lg) {
        padding-top: 46px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
      source,
      img {
        width: 100%;
      }
    }
    &__graph {
      width: 100%;
    }
    &__arrow {
      position: absolute;
      top: 12%;
      left: 21%;
      z-index: 20;
      width: vw(360);
      @include mq(lg) {
        width: 350px;
        top: 104px;
        left: 172px;
      }
    }
    &__fukidashi {
      margin: vw(70) auto 0;
      @include mq(lg) {
        width: 800px;
        margin-top: 4.2em;
      }
      p {
        // color: red;
        line-height: lh(22, 40);
        letter-spacing: 0.1em;
        @include mq(lg) {
          padding: 0.7em 1em;
          line-height: lh(15, 24);
        }
      }
    }
  }
}
