@use '../global' as *;

body.figures {
  .faq {
    &__sectionContainer {
      @include mq(lg) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    &__section {
      @include mq(lg) {
        flex: 0 1 460px;
        max-width: 460px;
      }
      & + .faq__section {
        margin-top: vw(165);
        @include mq(lg) {
          margin-top: 0;
        }
      }
      &:nth-of-type(2) {
        span.faq__title--text {
          font-feature-settings: 'palt';
        }
        .faq__question {
          @include mq(lg) {
            margin-left: -12px;
          }
        }
      }
      &.faq--3 {
        margin-top: vw(160);
        @include mq(lg) {
          max-width: 100%;
          margin-top: 98px;
        }
        .faq__fukidashi {
          margin-top: vw(100);
          margin-left: vw(40);
          @include mq(lg) {
            width: 490px;
            margin: 33px auto 0;
          }
        }
        .faq__chart {
          @include mq(lg) {
            margin-right: 25px;
          }
        }
      }
    }
    &__title {
      position: relative;
      width: 100%;
      height: vw(60);
      display: flex;
      align-items: center;
      padding-left: 0.6em;
      @include mq(lg) {
        height: 40px;
        padding-left: 0.8em;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        background-color: #fff;
        width: vw(50);
        height: vw(30);
        @include mq(lg) {
          width: 35px;
          height: 20px;
        }
      }
      &::before {
        top: 0;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
      }
      &::after {
        bottom: 0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
      }
      span {
        display: flex;
        align-items: center;
        height: 100%;
        line-height: 1;
        letter-spacing: 0.03em;
        @include mq(lg) {
          letter-spacing: 0.05em;
        }
      }
      &--num {
        flex: 0 0 auto;
        padding-right: 1em;
        @include yugo-bold;
        font-size: vw(24);
        @include mq(lg) {
          font-size: 16px;
        }
      }
      &--text {
        flex: 0 1 auto;
        padding-left: 1.1em;
        border-left: vw(1) solid #fff;
        font-size: vw(32);
        @include mq(lg) {
          padding-left: 1em;
          font-size: 22px;
          border-left: 1px solid #fff;
        }
      }
    }
    &__chartContainer {
      @include mq(lg) {
        display: flex;
      }
      .faq__inner + .faq__inner {
        margin-top: vw(30);
        @include mq(lg) {
          margin-top: 0;
          padding-left: 112px;
        }
      }
    }
    &__inner {
      padding-top: 1.5em;
      padding-left: 1.3em;
      @include mq(lg) {
        padding-top: 38px;
        padding-left: 65px;
      }
    }
    &__question {
      display: flex;
      align-items: center;
      img {
        display: inline-block;
        width: vw(96);
        @include mq(lg) {
          width: 63px;
          margin-bottom: 5px;
        }
      }
    }
    &__questionText {
      display: inline-block;
      padding-left: 1em;
      font-size: vw(28);
      line-height: lh(28, 48);
      @include mq(lg) {
        padding-left: 0.8em;
        font-size: 18px;
        line-height: lh(18, 28);
      }
    }
    &__answer {
      margin-top: vw(30);
      @include mq(lg) {
        margin-top: 25px;
      }
      &.graph--3 {
        .faq__yes {
          text-align: center;
          top: vw(134);
          left: vw(160);
          @include mq(lg) {
            top: 70px;
            left: 110px;
          }
          & > div {
            margin-bottom: -0.1em;
          }
          .per {
            padding-left: 0.05em;
          }
          .number {
            display: inline-block;
            min-width: 1.8em;
          }
        }
      }
      &.graph--4 {
        @include mq(lg) {
          .faq__yes {
            left: 118px;
          }
          .faq__no {
            left: 33px;
          }
        }
      }
    }
    &__answerInner {
      position: relative;
      @include roboto;
      text-transform: uppercase;
      line-height: 1;
      opacity: 0;
      font-weight: normal;
      // .number {
      //   opacity: 0;
      // }
    }
    &__yes {
      color: #fff;
      position: absolute;
      top: vw(250);
      left: vw(168);
      width: vw(375);
      font-size: vw(78);
      @include mq(lg) {
        top: 126px;
        left: 102px;
        width: auto;
        font-size: 40px;
      }
      .number {
        font-size: vw(156);
        @include mq(lg) {
          font-size: 80px;
        }
      }
    }
    &__no {
      // color: lightgreen;
      color: $primaryBlue;
      position: absolute;
      top: vw(15);
      left: 0;
      width: vw(347);
      height: vw(347);
      font-size: vw(50);
      background: url('../images/suji/answer-line--sp.svg') no-repeat;
      background-size: contain;
      background-position: top vw(100) left 0;
      @include mq(lg) {
        top: 5px;
        left: 15px;
        width: 180px;
        height: 80px;
        font-size: 26px;
        background: url('../images/suji/answer-line.svg') no-repeat;
        background-position: top 105% left 0%;
      }
      .number {
        padding-left: 0.15em;
        font-size: vw(98);
        @include mq(lg) {
          font-size: 50px;
        }
      }
      .per {
        padding-left: 0.05em;
        font-size: vw(68);
        @include mq(lg) {
          font-size: 35px;
        }
      }
    }
    &__chart {
      width: vw(490);
      height: vw(490);
      margin-right: vw(30);
      margin-left: auto;
      // border: 1px solid #000;
      @include mq(lg) {
        width: 250px;
        height: 250px;
        margin-right: 73px;
      }
      canvas {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__fukidashi {
      margin-top: 2.7em;
      @include mq(lg) {
        margin-top: 2.2em;
        margin-left: -14px;
      }
    }
    &__note {
      font-size: vw(20);
      @include yugo-medium;
      line-height: 1;
      text-align: right;
      margin-top: vw(145);
      @include mq(lg) {
        font-size: 14px;
        margin-top: 80px;
      }
    }
  }
}
