@use '../global' as *;

.top-section {
  &__title {
    z-index: 10;
  }
  &__lead {
    display: inline-block;
    background-color: #fff;
    padding: 0.3em 0.8em 0.05em 0.35em;
    font-size: vw(37);
    color: $primaryBlue;
    // @include yumin-bold;
    font-feature-settings: 'palt';
    letter-spacing: 0.1em;
    white-space: nowrap;
    @include mq(lg) {
      font-size: 36px;
      padding: 0.15em 0.25em 0.05em 0.35em !important;
    }
  }
  &__bg {
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  &__bgImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__readmore {
    position: relative;
    z-index: 1;
    margin-top: vw(30);
    @include mq(lg) {
      margin-top: 30px;
    }
  }
}

.top-message {
  position: relative;
  height: vw(840);
  background-size: cover;
  overflow: hidden;
  @include webpBg('../images/top/top-bg-message--sp', 'png');
  @include mq(lg) {
    height: 680px;
    @include webpBg('../images/top/top-bg-message', 'png');
  }
  &__inner {
    padding: vw(170) 0 0 vw(40);
    @include mq(lg) {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
      padding: 216px vw_lg(143) 0;
      box-sizing: content-box;
    }
  }
  &__titleInner {
  }
  &__title {
    width: vw(275);
    img {
      width: 100%;
    }
    @include mq(lg) {
      // width: 256px;
      width: min(vw_lg(256), 256px);
    }
  }
  &__lead {
    width: vw(620);
    margin-top: vw(94);
    margin-left: vw(4);
    img {
      width: 100%;
    }
    @include mq(lg) {
      // width: 913px;
      width: min(vw_lg(913), 913px);
      margin-top: 28px;
      margin-left: 5px;
    }
  }
  &__readmore {
    margin-top: vw(85);
    padding-right: vw(40);
    text-align: right;
    @include mq(lg) {
      display: inline-block;
      margin-top: 30px;
      left: 76%;
    }
  }
}

.top-movie {
  background-color: $primaryBlue;
  color: #fff;
  overflow: hidden;
  transition: background 1.5s ease;
  &.is-changed {
    background-color: #fff;
  }
  &__inner {
    position: relative;
    width: vw(670);
    margin-left: auto;
    margin-right: auto;
    padding: vw(180) 0 vw(237);
    @include mq(lg) {
      width: 800px;
      padding: 206px 120px 200px 0;
      box-sizing: content-box;
    }
  }
  &__title {
    position: absolute;
    top: vw(120);
    right: vw(-52);
    z-index: 20;
    width: vw(88);
    @include mq(lg) {
      width: 120px;
      top: 185px;
      right: 17px;
    }
  }
  &__lead {
    font-size: vw(32);
    line-height: 1;
    font-feature-settings: 'palt';
    letter-spacing: 0.1em;
    @include mq(lg) {
      letter-spacing: 0.11em;
      font-size: 24px;
    }
    &--large {
      display: block;
      font-size: vw(69);
      padding-top: vw(10);
      @include mq(lg) {
        display: inline-block;
        font-size: 32px;
        padding-top: 0;
        padding-left: 0.5em;
        vertical-align: middle;
      }
    }
  }
  &__player {
    width: 100%;
    height: vw(377);
    margin-top: vw(14);
    background-color: darkgrey;
    @include mq(lg) {
      height: 450px;
      margin-top: 24px;
    }
  }
  &__playerInner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  // &__playBtn {
  //   position: absolute;
  // }
}

// ----------------------------------
// MEMBERS
// ----------------------------------
.top-members {
  // background-color: #fff;
  background-color: $primaryBlue;
  transition: background 1.5s ease;
  position: relative;
  padding-top: vw(180);
  @include mq(lg) {
    padding-top: 210px;
  }
  &.is-changed {
    background-color: #fff;
  }
  &__title {
    position: relative;
    width: vw(569);
    margin-left: vw(20);
    @include mq(lg) {
      // width: 753px;
      width: min(vw_lg(753), 753px);
      margin-left: min(vw_lg(147), 147px);
    }
    svg {
      max-width: 100%;
      height: auto;
      .cls-1 {
        fill: #fff;
        transition: fill 1.2s ease;
        &.is-changed {
          fill: $primaryBlue;
        }
      }
    }
  }
  &__bg {
    margin-top: vw(-24);
    height: vw(560);
    @include mq(lg) {
      // margin-top: -17px;
      margin-top: max(vw_lg(-17), -17px);
      // height: 560px;
      height: min(vw_lg(560), 560px);
    }
  }
  &__contents {
    display: block;
    position: absolute;
    z-index: 10;
    // width: vw(370);
    right: vw(40);
    bottom: vw(-130);
    text-align: right;
    @include mq(lg) {
      width: 340px;
      right: 142px;
      bottom: -100px;
    }
  }
  &__readmore {
    @include mq(lg) {
      margin-left: 80px;
    }
  }
}
// ----------------------------------
// MEMBERS~MISSIONにかけてのグラデーション
// ----------------------------------
.top-bgGradient {
  @include webpBg('../images/top/top-bg-gradient--sp', 'png');
  background-size: 100% auto;
  background-position-y: vw(260);
  @include mq(lg) {
    @include webpBg('../images/top/top-bg-gradient', 'png');
    background-size: 100% auto;
    background-position-y: 330px;
  }
}
// ----------------------------------
// GROWTH
// ----------------------------------
.top-growth {
  padding-top: vw(310);
  background-image: url('../images/top/top-bg-arrows--white.svg');
  background-size: vw(1612);
  background-position: 18% -26%;
  @include mq(lg) {
    padding-top: 310px;
    // background-size: vw_lg(1786);
    background-size: 1786px;
    background-position: top -126px right -693px;
  }
  &__inner {
    position: relative;
    width: vw(580);
    margin-right: auto;
    margin-left: 0;
    @include mq(lg) {
      width: min(vw_lg(1080), 1080px);
    }
  }
  &__title {
    position: absolute;
    width: vw(97);
    top: vw(-44);
    right: vw(-70);
    @include mq(lg) {
      width: min(vw_lg(128), 128px);
      top: max(vw_lg(-40), -40px);
      // right: -112px;
      right: max(vw_lg(-112), -112px);
    }
  }
  &__bg {
    height: vw(680);
    @include mq(lg) {
      width: 100%;
      height: min(vw_lg(680), 680px);
    }
  }
  &__contents {
    display: block;
    position: absolute;
    z-index: 10;
    left: vw(40);
    bottom: vw(-130);
    @include mq(lg) {
      left: 143px;
      bottom: -100px;
    }
  }
  .top-section__lead {
    letter-spacing: 0.17em;
    padding-right: 0.22em;
    @include mq(lg) {
      letter-spacing: 0.1em;
    }
  }
}
// ----------------------------------
// MISSION
// ----------------------------------
.top-mission {
  padding: vw(310) 0 vw(340);
  background: url('../images/top/top-bg-arrows--white.svg') no-repeat 59% -27%,
    url('../images/top/top-bg-arrows--white.svg') no-repeat 18% 115%;
  background-size: vw(1612);
  @include mq(lg) {
    padding: 310px 0 300px;
    // background: url('../images/top/top-bg-arrows--white.svg') no-repeat 117% -36%,
    //   url('../images/top/top-bg-arrows--white.svg') no-repeat -65% 134%, #000;
    background: url('../images/top/top-bg-arrows--white.svg') no-repeat top -125px
        left -490px,
      url('../images/top/top-bg-arrows--white.svg') no-repeat bottom -219px right -693px;
    // background-size: vw_lg(1786);
    background-size: 1786px;
  }
  &__inner {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: vw(580);
    @include mq(lg) {
      width: min(vw_lg(1080), 1080px);
    }
  }
  &__title {
    position: absolute;
    width: vw(525);
    top: vw(66);
    left: vw(-150);
    @include mq(lg) {
      // width: 698px;
      width: min(vw_lg(698), 698px);
      // top: 70px;
      top: min(vw_lg(70), 70px);
      // left: -140px;
      left: max(vw_lg(-140), -140px);
    }
  }
  &__bg {
    height: vw(680);
    @include mq(lg) {
      width: 100%;
      // height: 680px;
      height: min(vw_lg(680), 680px);
    }
  }
  &__contents {
    display: block;
    position: absolute;
    z-index: 10;
    text-align: right;
    right: vw(40);
    bottom: vw(-132);
    @include mq(lg) {
      width: 520px;
      right: 143px;
      bottom: -100px;
    }
  }
  &__readmore {
    @include mq(lg) {
      margin-left: 260px;
    }
  }
  .top-section__lead {
    letter-spacing: 0.17em;
    padding-right: 0.22em;
    @include mq(lg) {
      letter-spacing: 0.1em;
    }
  }
}
