@use '../global' as *;

.p-top-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__inner {
    padding: 0;
    overflow: hidden;
    @include mq(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      padding: min(vw_lg(40), 40px);
    }
  }
}
.p-top-fv {
  position: relative;
  width: 100%;
  &__title {
    position: relative;
    z-index: 10;
    font-size: min(vw(28), 20px);
    font-family: $roboto-mono;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--colorBg);
    background-color: var(--colorText);
    padding-right: 0.25em;
    @include mq(lg) {
      display: none;
    }
  }
  &__desc {
    position: relative;
    z-index: 10;
    margin-top: 1em;
    font-size: min(vw(56), 48px);
    line-height: 1.8;
    font-weight: 700;
    letter-spacing: 0.05em;
    // text-shadow: 0px 2px 4px #000;

    @include mq(lg) {
      font-size: 64px;
      margin-top: 0;
    }
  }
  &__text {
    display: block;
  }
}

.p-top-main__circleArea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
img.p-top-main__circle {
  position: absolute;
  width: 120vw;
  max-width: 200%;
  mix-blend-mode: overlay;
  filter: blur(5px);
  // mix-blend-mode: difference;
  // will-change: transform;
  @include mq(lg) {
    width: 100vh;
  }

  .is-darkmode & {
    mix-blend-mode: difference;
  }
}
