@use '../global' as *;
.p-works-main {
  overflow: initial;
  position: relative;
  z-index: 0;
  @include mq(lg) {
    overflow: hidden;
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: initial;
    @include mq(lg) {
      height: 100%;
      padding: 0;
    }
  }
  &__title {
    position: absolute;
    z-index: 10;
    top: min(vh(90), 80px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    @include mq(lg) {
      top: 20px;
    }
  }
}
.p-works-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  @include mq(lg) {
    height: 100%;
  }
  .swiper {
    padding: min(vh(250), 250px) vw(40) 0;
    width: 100vw;
    height: 100vh;
    margin: 0 calc(50% - 50vw);
    transition: 0.5s background-color 0.1s;
    // height: vw(400);
    @include mq(lg) {
      margin: 0;
      // padding: 200px 120px 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: '';
      background: rgba(#fff, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      .is-darkmode & {
        background: rgba(#000, 0.5);
      }
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: vh(210);
    bottom: auto;
    @include mq(lg) {
      top: auto;
      bottom: 75px;
    }
  }
  .swiper-pagination {
    @include mq(lg) {
      // width: calc(100% - 40px);
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    transition: 0.3s;
    // width: calc((100% - 40px) / 5);
    // height: 4px;
    // border-radius: 0;
    background-color: var(--colorText) !important;
  }
  .swiper-pagination-bullet-active {
    background: var(--colorText) !important;
  }
  &__button {
    display: none;
    transition: 0.3s;
    outline: none;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 10;
    bottom: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    transform-origin: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
      border: 1px solid var(--colorText);
      border-radius: 50%;
    }
    @include enableHover {
      &:hover {
        transform: translateY(-50%) scale(1.2);
        &::before {
          border: 2px dotted var(--colorText);
          animation: rotateAnime 10s linear infinite;
          @keyframes rotateAnime {
            0% {
              transform: translateY(-50%) rotate(0);
            }
            100% {
              transform: translateY(-50%) rotate(360deg);
            }
          }
        }
      }
    }
    @include mq(lg) {
      display: block;
    }
    &--prev {
      left: 40px;
      .p-works-slider__buttonArrow {
        &::before {
          top: 10px;
          left: 32px;
          border-top: 2px solid var(--colorText);
          border-right: 2px solid var(--colorText);
          transform: rotate(-135deg) translate(-50%, -50%);
        }
      }
      @include enableHover {
        &:hover {
          &::before {
            animation: rotateAnimeRev 10s linear infinite;
            @keyframes rotateAnimeRev {
              0% {
                transform: translateY(-50%) rotate(0);
              }
              100% {
                transform: translateY(-50%) rotate(-360deg);
              }
            }
          }
        }
      }
    }
    &--next {
      right: 40px;
      .p-works-slider__buttonArrow {
        &::before {
          top: 28px;
          right: 32px;
          border-top: 2px solid var(--colorText);
          border-right: 2px solid var(--colorText);
          transform: rotate(45deg);
        }
      }
    }
  }
  &__buttonArrow {
    display: block;
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }
}
.p-works-slide {
  @include mq(lg) {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__imgContainer {
    transform-origin: bottom center;
    @include enableHover {
      cursor: grab;
    }
  }
  &__img {
    aspect-ratio: 120/63;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    margin-top: 1em;
    opacity: 0;
    transition: all 2s $easeOutCirc;
    text-align: right;
    @include mq(lg) {
      margin-top: 1em;
    }
  }
  &__title {
    position: relative;
    font-size: min(vw(40), 32px);
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.05em;
    @include mq(lg) {
      font-size: 24px;
      white-space: nowrap;
    }
  }
  &__number {
    position: absolute;
    left: 0;
    top: -0.1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: vw(120);
    opacity: 0.2;
    line-height: 1;
    overflow: hidden;
    @include mq(lg) {
      font-size: 80px;
    }
  }
  &__desc {
    padding-top: 2em;
    font-family: $roboto-mono;
    // text-transform: uppercase;
    @include mq(lg) {
      padding-top: 4em;
    }
  }
  &__descLead {
    font-size: min(vw(32), 24px);
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  &__descItems {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 2em;
    font-size: min(vw(28), 20px);
    &::after {
      content: 'etc.';
      text-transform: lowercase;
    }
  }
  &__descItem {
    &::after {
      content: ',';
    }
  }
  &__readmore {
    margin-top: 2em;
    font-size: min(vw(32), 24px);
    @include mq(lg) {
      font-size: 18px;
    }
  }
}
.p-works-slide.swiper-slide-active {
  .p-works-slide__number {
    span {
      display: inline-block;
      transform: translateY(101%);
      animation: showEachChar 0.5s forwards;
      @keyframes showEachChar {
        0% {
          transform: translateY(101%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      &:nth-of-type(1) {
        animation-delay: 0.3s;
      }
      &:nth-of-type(2) {
        animation-delay: 0.6s;
      }
    }
  }
}
