@use '../global' as *;
// Navigation Buttons
.p-works-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  @include mq(lg) {
    height: 100%;
  }
  .swiper {
    padding: min(vh(200), 250px) vw(40) 0;
    width: 100vw;
    height: 100vh;
    margin: 0 calc(50% - 50vw);
    transition: 0.5s background-color 0.1s;
    // height: vw(400);
    @include mq(lg) {
      margin: 0;
      // padding: 200px 120px 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: '';
      background: rgba(#fff, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 100px;
    bottom: auto;
  }
  .swiper-pagination {
    @include mq(lg) {
      // width: calc(100% - 40px);
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    transition: 0.3s;
    // width: calc((100% - 40px) / 5);
    // height: 2px;
    // border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    background: var(--colorText);
  }
  &__button {
    display: none;
    transition: 0.3s;
    outline: none;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 10;
    bottom: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    transform-origin: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
      border: 1px solid var(--colorText);
      border-radius: 50%;
    }
    @include enableHover {
      &:hover {
        transform: translateY(-50%) scale(1.2);
        &::before {
          border: 2px dotted var(--colorText);
          animation: rotateAnime 10s linear infinite;
          @keyframes rotateAnime {
            0% {
              transform: translateY(-50%) rotate(0);
            }
            100% {
              transform: translateY(-50%) rotate(360deg);
            }
          }
        }
      }
    }
    @include mq(lg) {
      display: block;
    }
    &--prev {
      left: 40px;
      .p-works-slider__buttonArrow {
        &::before {
          top: 10px;
          left: 32px;
          border-top: 2px solid var(--colorText);
          border-right: 2px solid var(--colorText);
          transform: rotate(-135deg) translate(-50%, -50%);
        }
      }
      @include enableHover {
        &:hover {
          &::before {
            animation: rotateAnimeRev 10s linear infinite;
            @keyframes rotateAnimeRev {
              0% {
                transform: translateY(-50%) rotate(0);
              }
              100% {
                transform: translateY(-50%) rotate(-360deg);
              }
            }
          }
        }
      }
    }
    &--next {
      right: 40px;
      .p-works-slider__buttonArrow {
        &::before {
          top: 28px;
          right: 32px;
          border-top: 2px solid var(--colorText);
          border-right: 2px solid var(--colorText);
          transform: rotate(45deg);
        }
      }
    }
  }
  &__buttonArrow {
    display: block;
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }
}
