@use '../global' as *;

.p-work-main {
  &__inner {
    @include mq(lg) {
      position: relative;
      overflow-x: hidden;
    }
  }
}
.p-work-content {
  $this: &;
  &__title {
    position: relative;
    &--large,
    &--small {
      display: block;
    }
    &--large {
      position: absolute;
      top: 0;
      left: 0;
      font-size: vw(120);
      color: var(--colorText);
      line-height: 1;
      opacity: 0.1;
      @include mq(lg) {
        font-size: 120px;
        vertical-align: middle;
      }
    }
    &--small {
      font-size: vw(40);
      line-height: 1.5;
      white-space: nowrap;
      @include mq(lg) {
        font-size: 32px;
        padding: 0.5em 0 0 0.1em;
        letter-spacing: 0.05em;
      }
    }
  }
  &__imgContainer {
    margin-top: vw(80);
    @include mq(lg) {
      position: absolute;
      top: 50%;
      z-index: -1;
      right: min(vw_lg(40), 40px);
      margin-top: 0;
      width: 50%;
      transform: translate(0%, -50%);
    }
  }

  // &__listContainer {
  // }

  &__list {
    margin-top: 2em;
    font-size: vw(32);
    @include mq(lg) {
      font-size: 18px;
    }
  }

  &__term {
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &__desc {
    margin-top: 1em;
    padding-left: 1em;
    &:not(:first-of-type) {
      margin-top: 0.5em;
    }
  }
  &__link {
    display: inline;
    text-decoration: underline;
    word-break: break-all;
  }
}

.p-work-main__back {
  margin-top: 4em;
  font-size: min(vw(32), 24px);
  @include mq(lg) {
    margin-top: 2em;
    padding: 1em 2em;
    font-size: 18px;
  }
}
