@use '../global' as *;
.p-works-main {
  overflow: initial;
  position: relative;
  z-index: 0;
  @include mq(lg) {
    overflow: hidden;
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: initial;
    @include mq(lg) {
      height: 100%;
      padding: 0;
    }
  }
  &__title {
    position: absolute;
    z-index: 10;
    top: min(vh(90), 80px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    @include mq(lg) {
      top: 20px;
    }
  }
}

.p-works-slide {
  @include mq(lg) {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__imgContainer {
    transform-origin: bottom center;
  }
  &__img {
    aspect-ratio: 120/63;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__inner {
    margin-top: 1em;
    opacity: 0;
    transition: all 2s $easeOutCirc;
    @include mq(lg) {
      margin-top: 1em;
    }
  }
  &__title {
    font-size: min(vw(40), 32px);
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  &__desc {
    padding-top: 2em;
    font-family: $roboto-mono;
    // text-transform: uppercase;
    @include mq(lg) {
      padding-top: 4em;
    }
  }
  &__descLead {
    font-size: min(vw(32), 24px);
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  &__descItems {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 2em;
    font-size: min(vw(28), 20px);
    &::after {
      content: 'etc.';
      text-transform: lowercase;
    }
  }
  &__descItem {
    &::after {
      content: ',';
    }
  }
  &__readmore {
    margin-top: 2em;
    font-size: min(vw(32), 24px);
    @include mq(lg) {
      font-size: 18px;
    }
  }
}

.js-transitionOut {
  // opacity: 0 !important;
}
