@use '../global' as *;
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: lightblue;
  width: 100%;
  height: 100vh;
  font-weight: bold;
  // background: lightcoral;
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// ----------------------------------------
// ドロワーアニメーション 初期設定 (aria-expanded)
// ----------------------------------------
.drawer[aria-expanded] {
  transition: transform 0.4s, opacity 0.4s;
  // transition-timing-function: $easeOutCirc;
}
.drawer[aria-expanded] .drawer__nav {
  // transition-duration: 1s;
  // transition-property: opacity transform;
}
// ----------------------------------------
// 開いているとき
// ----------------------------------------
.drawer[aria-expanded='true'] {
  visibility: visible;
  opacity: 1;
  // transform: translateX(0);
  // transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  // transition-duration: 0.3s;
  // transition-delay: 0.2s;
  // transition-property: transform opacity;
}
.drawer[aria-expanded='true'] .drawer__nav {
}
// ----------------------------------------
// 閉じているとき
// ----------------------------------------
.drawer[aria-expanded='false'] {
  visibility: hidden;
  opacity: 0;
  // transform: translateX(-101%);
  // transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  // transition-duration: 0.3s;
  // transition-delay: 0.2s;
  // transition-property: transformo pacity;
}
