@use '../global' as *;

.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: $roboto-mono;
  pointer-events: none;
  // background-color: var(--colorBg);
  @include mq(lg) {
    display: none;
  }
  &__inner {
    max-height: 80px;
    padding: vw(40) vw(50);
    display: flex;
    align-items: center;
  }
  &__items {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__link {
    width: min(vw(40), 40px);
  }
}
