@use '../global' as *;

.l-footer {
  width: 100%;
  font-family: $roboto-mono;
  // background-color: var(--colorBg);
  position: fixed;
  bottom: 0;
  left: 0;
  @include mq(lg) {
    background-color: var(--colorBg);
    display: none;
  }
  &__inner {
    padding: vw(40) vw(50);
    display: flex;
    align-items: center;
  }
  &__items {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__item {
    flex: 0 0 vw(40);
    & + & {
      margin-left: vw(80);
    }
  }
}
