@use '../global' as *;

.l-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  // background-color: lightgoldenrodyellow;
  // backdrop-filter: blur(4px);
  &__inner {
    background-color: $color-main;
    // background-color: var(--colorLightBg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: vw(10) vw(15) vw(10) vw(10);
    @include mq(lg) {
      padding: 10px 20px;
    }
    &:not(:first-of-type) {
      display: none;
    }
  }
  &__logo {
    width: vw(100);
    @include mq(lg) {
      width: 50px;
    }
  }
  &__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: vw(90);
    height: vw(90);
    border: 1px solid #fff;
    border-radius: 50%;
    @include mq(lg) {
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
    }
  }
  &__hamburgerInner {
    content: '';
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    border: 1px solid #fff;
    border-radius: 50%;
    @include mq(lg) {
      border: 2px solid #fff;
    }
    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 50%;
      height: 1px;
      background-color: #fff;
      transform: translateX(-50%);
      @include mq(lg) {
        height: 2px;
      }
    }
    &::before {
      top: 30%;
    }
    &::after {
      bottom: 30%;
    }
  }
}
