@use '../global' as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgoldenrodyellow;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-size: rem(30);
  }
}
