@use '../global' as *;

.l-loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  @include vh100;
  content: '';
  background-color: $color-base;
  pointer-events: none;
}

.l-loading.is-done {
  animation: spiral 0.8s ease-out 0.2s 1 forwards;
  // will-change: clip-path;

  @keyframes spiral {
    0% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 25%,
        75% 25%,
        75% 75%,
        25% 75%,
        25% 50%,
        50% 50%,
        25% 50%,
        25% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    14.25% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 25%,
        75% 25%,
        75% 75%,
        50% 75%,
        50% 50%,
        50% 50%,
        25% 50%,
        25% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    28.5% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 25%,
        75% 25%,
        75% 50%,
        50% 50%,
        50% 50%,
        50% 50%,
        25% 50%,
        25% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    42.75% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 25%,
        25% 25%,
        25% 50%,
        25% 50%,
        25% 50%,
        25% 50%,
        25% 50%,
        25% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    57% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 75%,
        25% 75%,
        25% 75%,
        25% 75%,
        25% 75%,
        25% 75%,
        25% 75%,
        25% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    71.25% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        75% 100%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 75%,
        75% 25%,
        0% 25%
      );
    }
    85.5% {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        75% 25%,
        0% 25%
      );
    }
    99% {
      clip-path: polygon(
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%
      );
    }
    100% {
      clip-path: polygon(
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%,
        0% 25%
      );
    }
  }
}
.l-loading__logo {
  display: block;
  position: absolute;
  width: vw(200);
  max-width: 200px;
  transform: scale(0);
  opacity: 0;
}
.l-loading__text {
  position: absolute;
  font-size: vw(56);
  font-family: $roboto-mono;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 1;
  color: $color-main;
  @include mq(lg) {
    font-size: 32px;
  }
  span {
    opacity: 0;
    &:nth-child(1) {
      animation: blink1 1.2s linear infinite;
      @keyframes blink1 {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    &:nth-child(2) {
      animation: blink2 1.2s linear infinite;
      @keyframes blink2 {
        0% {
          opacity: 0;
        }
        40% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    &:nth-child(3) {
      animation: blink3 1.2s linear infinite;
      @keyframes blink3 {
        0% {
          opacity: 0;
        }
        70% {
          opacity: 0;
        }
        80% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.l-loading__face {
  position: absolute;
  width: vw(300);
  height: vw(300);
  background-color: $color-base;
  transform: scale(0);
  mix-blend-mode: overlay;
  @include mq(lg) {
    width: 300px;
    height: 300px;
  }
  &:nth-of-type(1) {
    z-index: 3;
  }
  &:nth-of-type(2) {
    z-index: 2;
  }
  &:nth-of-type(3) {
    z-index: 1;
  }
}
