<div id="js-drawer" class="drawer js-drawer" aria-expanded="false">
  <!-- ※デフォルトはfalse -->
  <div class="drawer__inner">
    <nav id="js-drawerNav" class="footer__gNav" aria-hidden="true">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
    <button id="js-closeDrawer" class="header__hamburger js-closeDrawer" type="button" aria-label="メニューを閉じる" aria-controls="js-drawer">
      閉じる
    </button>
  </div>
</div>