<!-- aria-expanded デフォルトはfalse -->
<div id="js-drawer" class="l-drawer js-drawer" aria-expanded="false">
  <div class="l-drawer__inner">
    <nav id="js-drawerNav" class="l-drawer__nav" aria-hidden="true">
      <ul class="l-drawer__items">
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./">Top</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./works.html">Works</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./about.html">About</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="https://www.notion.so/jookalubi24/CONTACT-eeeec7aebdf3411da0b00c2b1ef2d90f" target="_blank" rel="noopener noreferrer">Contact</a></li>
      </ul>
    </nav>
    <button id="js-closeDrawer" class="c-hamburger c-hamburger--close l-drawer__close js-closeDrawer" type="button" aria-label="メニューを閉じる" aria-controls="js-drawer"><span class="c-hamburger__inner l-drawer__closeInner"></span></button>
  </div>
</div>