<!-- aria-expanded デフォルトはfalse -->
<div id="js-drawer" class="l-drawer js-drawer" aria-expanded="false">
  <div class="l-drawer__inner">
    <nav id="js-drawerNav" class="l-drawer__nav" aria-hidden="true">
      <ul class="l-drawer__items">
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./">Top</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./works.html">Works</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="./about.html">About</a></li>
        <li class="l-drawer__item js-drawerItem"><a class="c-externalLink c-highlightLink l-drawer__link js-drawerItem js-highlightLink" href="https://www.notion.so/jookalubi24/CONTACT-eeeec7aebdf3411da0b00c2b1ef2d90f" target="_blank" rel="noopener noreferrer">Contact<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e5dfd3"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg></a></li>
      </ul>
    </nav>
    <button id="js-closeDrawer" class="c-hamburger c-hamburger--close l-drawer__close js-closeDrawer" type="button" aria-label="メニューを閉じる" aria-controls="js-drawer"><span class="c-hamburger__inner l-drawer__closeInner"></span></button>
  </div>
</div>