<footer class="l-footer" data-scroll-section>
  <div class="l-footer__inner">
    <!-- <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div> -->
    <ul class="l-footer__items">
      <li class="l-footer__item"><a class="l-footer__link" href="">
          <img src="./assets/images/icon-blog.svg" alt="Twitter" width="23" height="23">
        </a></li>
      <li class="l-footer__item"><a class="l-footer__link" href="">
          <img src="./assets/images/icon-twitter--white.svg" alt="Twitter" width="248" height="204">
        </a></li>
      <!-- <li class="l-footer__item"><a class="l-footer__link" href="">
          <img src="./assets/images/icon-youtube.webp" alt="Twitter" width="552" height="194">
        </a></li> -->
    </ul>
    <!-- <p class="l-footer__copyright" translate="no">©2022 Hayato Kamiyama</p> -->
  </div>
</footer>