<header class="l-header js-header">
  <div class="l-header__inner l-header__inner--top">
    <a class="l-header__logo l-header__logo--top" href="./"><img src="./assets/images/icon-site.svg" alt="" width="268" height="266"></a>
    <nav class="l-header__nav">
      <ul class="l-header__menus">
        <li class="l-header__menu" data-text="TOP"><a class="c-highlightLink l-header__link  js-highlightLink" href="./">Top</a></li>
        <li class="l-header__menu" data-text="WORKS"><a class="c-highlightLink l-header__link  js-highlightLink" href="./works.html">Works</a></li>
        <li class="l-header__menu" data-text="ABOUT"><a class="c-highlightLink l-header__link  js-highlightLink" href="./about.html">About</a></li>
        <li class="l-header__menu" data-text="CONTACT"><a class="c-externalLink c-highlightLink l-header__link js-highlightLink" href="https://www.notion.so/jookalubi24/CONTACT-eeeec7aebdf3411da0b00c2b1ef2d90f" target="_blank" rel="noopener noreferrer">Contact<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e5dfd3"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg></a></li>
      </ul>
    </nav>
  </div>
  <div class="l-header__inner l-header__inner--right">
    <div class="l-header__logo">
      <span class="c-tooltip"><img src=" ./assets/images/icon-logo.svg" alt="" width="268" height="266"></span>
      <span class="c-tooltip__inner">折り紙のように「どんな形や希望にも応えたい」というコンセプトをもとにこちらのアイコンにしました。<br>鶴は折り紙の象徴、長寿の象徴ということから選びました。</span>
    </div>
  </div>
  <div class="l-header__inner l-header__inner--bottom"><a class="l-footer__link" href="https://twitter.com/jookalubi24" target="_blank" rel="noopener noreferrer">
      <svg class="l-header__twitter" version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 248 204" style="enable-background:new 0 0 248 204;" xml:space="preserve">
<style type="text/css">
.st0{fill:#2b2b2b;}
</style>
<g id="Logo_1_">
<path id="white_background" class="st0 c-colorIcon" d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04
C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66
c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64
c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76
c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26
c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z"/>
</g>
</svg>
    </a></div>
  <div class="l-header__inner l-header__inner--left">
    <h1 class="l-header__rowTitle">Portfolio Site 2022</h1>
  </div>
</header>