<header class="header js-header" data-scroll-sticky>
  <div class="header__inner">
    <h1 class="header__logo"><a href="<%= meta.linkPath %>">神</a></h1>
    <button id="js-openDrawer" class="header__hamburger js-openDrawer" type="button" aria-label="メニューを開く" aria-controls="js-drawer" aria-expanded="false">MENU</button>
  </div>
</header>