<header class="l-header js-header" data-scroll-sticky>
  <div class="l-header__inner">
    <h1 class="l-header__logo"><a href="<%= meta.linkPath %>">神</a></h1>
    <button id="js-openDrawer" class="l-header__hamburger js-openDrawer" type="button" aria-label="メニューを開く" aria-controls="js-drawer" aria-expanded="false">MENU</button>
  </div>
</header>