<div class="l-loading js-loading">
  <img class="l-loading__logo js-loadingLogo" src=" ./assets/images/icon-logo_1.svg" alt="" width="268" height="266">
  <div class="l-loading__face js-loadingFace"></div>
  <div class="l-loading__face js-loadingFace"></div>
  <div class="l-loading__face js-loadingFace"></div>
  <!-- <div class="l-loading__chars">
    <span class="l-loading__char">W</span>
    <span class="l-loading__char">E</span>
    <span class="l-loading__char">L</span>
    <span class="l-loading__char">C</span>
    <span class="l-loading__char">O</span>
    <span class="l-loading__char">M</span>
    <span class="l-loading__char">E</span>
    <span class="l-loading__char">!</span>
  </div> -->
  <p class="l-loading__text js-loadingText">Now Loading<span>.</span><span>.</span><span>.</span></p>
</div>