<div class="l-loading" id="js-loading">
  <div class="l-loading__logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="268.265" height="266.025"><defs><style>.f{stroke:#fff;stroke-miterlimit:10;stroke-width:5px;fill:#316745}</style></defs><g id="b"><g id="c"><polygon class="f" points="54.648 60.019 7.241 119.278 64.129 100.315 97.315 262.519 149.463 240.167 201.018 262.519 263.241 36.315 147.685 156.612 110.944 101.501 87.241 64.76 54.648 60.019"/><polygon class="f" points="148.278 6.519 71.241 192.76 149.463 240.167 225.907 192.76 148.278 6.519"/><line x1="148.278" y1="6.519" x2="149.463" y2="240.167" stroke="#fff" stroke-miterlimit="10" stroke-width="5" fill="none"/><line x1="64.129" y1="100.315" x2="57.025" y2="60.365" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="5"/></g></g></svg>
  </div>

  <div class="l-loading__chars">
    <span class="l-loading__char">W</span>
    <span class="l-loading__char">E</span>
    <span class="l-loading__char">L</span>
    <span class="l-loading__char">C</span>
    <span class="l-loading__char">O</span>
    <span class="l-loading__char">M</span>
    <span class="l-loading__char">E</span>
    <span class="l-loading__char">!</span>
  </div>
</div>