<main class="l-main p-about-main">
  <div class="l-main__inner p-about-main__inner">
    <h1 class="c-splitTitle l-main__title"><span class="c-splitTitle__inner js-splitTitle">About</span></h1>
    <dl class="p-about-main__content p-about-content">
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">名前</span><span class="p-about-content__leadBg">Name</span></dt>
      <dd class="p-about-content__desc">カミヤマ ハヤト Hayato Kamiyama</dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">職種</span><span class="p-about-content__leadBg">Occupation</span></dt>
      <dd class="p-about-content__desc">フロントエンドエンジニア</dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">スキル</span><span class="p-about-content__leadBg">Skills</span></dt>
      <dd class="p-about-content__desc">
        <ul class="p-about-content__items p-about-content__skills">
          <li class="p-about-content__item">HTML（EJS,Pug）</li>
          <li class="p-about-content__item">CSS（Sass）</li>
          <li class="p-about-content__item">JavaScript</li>
          <li class="p-about-content__item">Vue.js/Nuxt.js</li>
          <li class="p-about-content__item">WordPress</li>
          <li class="p-about-content__item">microCMS</li>
        </ul>
      </dd>
      <dd class="p-about-content__desc">詳細は<a class="c-externalLink" href="https://www.notion.so/jookalubi24/CONTACT-eeeec7aebdf3411da0b00c2b1ef2d90f" target="_blank" rel="noopener noreferrer">Notion<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--colorText)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg></a>に記載しています。</dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">強み</span><span class="p-about-content__leadBg">Strength</span></dt>
      <dd class="p-about-content__desc">
        <ul class="p-about-content__items p-about-content__strength">
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">迅速な対応とリソースの意識</dt>
              <dd class="p-about-content__subDesc">Web制作はチームの連携が大切なのでチャットやメールなどの連絡は10分以内の返信を心がけています。即答できないものに関しても現状報告をし自分で止めないようにすることで、「時間」というリソースを最大限活用できるように心がけています。</dd>
            </dl>
          </li>
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">忠実・再現・工夫</dt>
              <dd class="p-about-content__subDesc">コーディング面ではデザインに忠実に実装することを前提に、クライアントやデザイナーの意図をくみ取り再現します。実装者目線でのプラスアルファの考えやアイデアなどを提案することで、より見やすい・使いやすいサイトを作ることを目標としています。</dd>
            </dl>
          </li>
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">調査力・推進力</dt>
              <dd class="p-about-content__subDesc">コーディングはほぼ独学で学んできたので、疑問点などは基本的に自分で調べて進めます。普段からSNSをはじめQiitaやZenn、技術書や動画教材などを通してインプット・スキルアップの向上に努めています。</dd>
            </dl>
          </li>
        </ul>
      </dd>
      <!-- <dt class="p-about-content__lead"><span class="p-about-content__leadText">歴史</span><span class="p-about-content__leadBg">History</span></dt>
      <div class="p-about-content__timelineWrap">
        <dd class="p-about-content__desc js-scrollable">
          <ul class="p-about-content__timelines">
            <li class="p-about-content__timeline">
              <article class="p-about-timeline">
                <h1 class="p-about-timeline__title">小学校～高校</h1>
                <p class="p-about-timeline__desc">栃木県日光市で生活を送る。小学校ではサッカー部に入り、中学校の途中から趣味でドラムを始める。高校では人生初の失恋を経験し、恋愛に対して臆病になる。</p>
                <img class="p-about-timeline__image" src="./assets/images/bg-timeline01.jpg" alt="" width="1920" height="1281" loading="lazy" decoding="async">
              </article>
            </li>
            <li class="p-about-content__timeline">
              <article class="p-about-timeline">
                <h1 class="p-about-timeline__title">大学</h1>
                <p class="p-about-timeline__desc">国立の宇都宮大学教育学部に入学。大学の近くで人生初の一人暮らし。卒論で「小学校におけるプログラミング学習の提案」を書くが、入口がC言語だったためプログラミングに興味は湧かず。</p>
                <img class="p-about-timeline__image" src="./assets/images/bg-timeline02.jpg" alt="" width="1920" height="1440" loading="lazy" decoding="async">
              </article>
            </li>
            <li class="p-about-content__timeline">
              <article class="p-about-timeline">
                <h1 class="p-about-timeline__title">大学卒業～20代後半</h1>
                <p class="p-about-timeline__desc">栃木県日光市で一人暮らし。小学校と中学校で教鞭をとる。5年目の中学校で初めて部活動を受け持つが「毎日残業」「往復2時間の通勤」「土日は部活を見る」のトリプルパンチで心が疲弊。これを機に転職を考え始める。</p>
                <img class="p-about-timeline__image" src="./assets/images/bg-timeline03.jpg" alt="" width="1920" height="1282" loading="lazy" decoding="async">
              </article>
            </li>
            <li class="p-about-content__timeline">
              <article class="p-about-timeline">
                <h1 class="p-about-timeline__title">上京・Web業界1社目</h1>
                <p class="p-about-timeline__desc">埼玉に引っ越し仕事をしながらスクールに通う。都内に引っ越し1年ほど一般企業で働いたのち新宿のWeb下請け会社に入社。Webデザインナー兼コーダーとして働く。スキルアップしない＆苦手な人がいる環境から転職。</p>
                <img class="p-about-timeline__image" src="./assets/images/bg-timeline04.jpg" alt="" width="1920" height="1281" loading="lazy" decoding="async">
              </article>
            </li>
            <li class="p-about-content__timeline">
              <article class="p-about-timeline">
                <h1 class="p-about-timeline__title">Web業界2社目（現在に至る）</h1>
                <p class="p-about-timeline__desc">渋谷の制作会社へ転職。相変わらず先輩がいない環境で奮闘中。肩書はフロントエンドエンジニアとしてフルリモートで働いている。</p>
                <img class="p-about-timeline__image" src="./assets/images/bg-timeline05.jpg" alt="" width="1920" height="1280" loading="lazy" decoding="async">
              </article>
            </li>
          </ul>
        </dd>
      </div> -->
    </dl>
  </div>
</main>