<main class="l-main p-about-main">
  <div class="l-main__inner">
    <h1 class="l-main__title">About</h1>
    <dl class="p-about-main__content p-about-content">
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">名前</span><span class="p-about-content__leadBg">Name</span></dt>
      <dd class="p-about-content__desc">カミヤマ ハヤト Hayato Kamiyama</dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">職種</span><span class="p-about-content__leadBg">Occupation</span></dt>
      <dd class="p-about-content__desc">フロントエンドエンジニア</dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">スキル</span><span class="p-about-content__leadBg">Skills</span></dt>
      <dd class="p-about-content__desc">
        <ul class="p-about-content__items">
          <li class="p-about-content__item">HTML</li>
          <li class="p-about-content__item">CSS</li>
          <li class="p-about-content__item">JavaScript</li>
          <li class="p-about-content__item">Vue.js/Nuxt.js</li>
          <li class="p-about-content__item">WordPress</li>
          <li class="p-about-content__item">microCMS</li>
        </ul>
      </dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">強み</span><span class="p-about-content__leadBg">Strength</span></dt>
      <dd class="p-about-content__desc">
        <ul class="p-about-content__items">
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">迅速・誠実な対応</dt>
              <dd class="p-about-content__subDesc">Web制作はチームの連携が大切なのでチャットやメールなどの連絡は10分以内の返信を心がけています。即答できないものに関してもその旨を報告し自分で止めないようにすることで、自分も相手も「時間」を最大限活用できるように心がけています。</dd>
            </dl>
          </li>
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">忠実・再現・工夫</dt>
              <dd class="p-about-content__subDesc">コーディング面ではデザインに忠実に実装することに加え、クライアントやデザイナーのイメージをくみ取り再現します。実装者目線でのプラスアルファの考えやアイデアなどを提案することで、より見やすい・使いやすい・気持ち良いサイトを作る工夫をします。</dd>
            </dl>
          </li>
          <li class="p-about-content__item">
            <dl>
              <dt class="p-about-content__subLead">調査力・推進力</dt>
              <dd class="p-about-content__subDesc">コーディングはほぼ独学で学んできたので、疑問点などは基本的に自分で調べて進めます。普段からSNSをはじめQiitaやZenn、技術書やUdemyなどを通してインプット・スキルアップの向上に努めています。</dd>
            </dl>
          </li>
        </ul>
      </dd>
      <dt class="p-about-content__lead"><span class="p-about-content__leadText">歴史</span><span class="p-about-content__leadBg">History</span></dt>
      <dd class="p-about-content__desc">
        <ul class="p-about-content__timelines">
          <li class="p-about-content__timeline">
            <article class="p-about-timeline">
              <h1 class="p-about-timeline__title">小学校～高校</h1>
              <p class="p-about-timeline__desc">栃木県日光市で生活を送る。小学校ではサッカー部に入り、中学校の途中から趣味でドラムを始める。高校では人生初の失恋を経験し、恋愛に対して臆病になる。</p>
              <img class="p-about-timeline__image" src="./assets/images/bg-school.jpg" alt="" width="1920" height="1281" loading="lazy" decoding="async">
            </article>
          </li>
          <li class="p-about-content__timeline">
            <article class="p-about-timeline">
              <h1 class="p-about-timeline__title">大学</h1>
              <p class="p-about-timeline__desc">栃木県宇都宮市で人生初の一人暮らし。宇都宮大学教育学部に入学し教育について学ぶ。卒論のテーマは「小学校におけるプログラミング学習の提案」だったが、講義ではC言語だったため苦手意識を持つ。</p>
              <img class="p-about-timeline__image" src="./assets/images/bg-universe.jpg" alt="" width="1920" height="1440" loading="lazy" decoding="async">
            </article>
          </li>
          <li class="p-about-content__timeline">
            <article class="p-about-timeline">
              <h1 class="p-about-timeline__title">大学卒業～20代後半</h1>
              <p class="p-about-timeline__desc">栃木県日光市で一人暮らし。小学校と中学校で教鞭をとる。中学校で部活動を受け持ち心が疲弊したことをきっかけに転職を考え始める。</p>
              <img class="p-about-timeline__image" src="./assets/images/bg-universe.jpg" alt="" width="1920" height="1440" loading="lazy" decoding="async">
            </article>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</main>