<!-- ※担当領域を明記する -->
<main class="l-main p-works-main">
  <div class="l-main__inner p-works-main__inner">
    <h1 class="c-splitTitle l-main__title"><span class="c-splitTitle__inner js-splitTitle">Works</span></h1>
    <div class="p-works-content">
      <ul class="p-works-content__items">
        <!-- <li class="p-works-content__item"><a class="p-works-content__itemLink" href="">エムスリー株式会社 中途採用サイト</a></li>
        <li class="p-works-content__item"><a class="p-works-content__itemLink" href="http://www.024.co.jp/recruit/index.html">株式会社マルニシ 新卒採用サイト</a></li>
        <li class="p-works-content__item"><a class="p-works-content__itemLink" href="">富田美憂 ファンクラブサイト</a></li>
        <li class="p-works-content__item"><a class="p-works-content__itemLink" href="">柳田将洋 ファンクラブサイト</a></li>
        <li class="p-works-content__item"><a class="p-works-content__itemLink" href="https://matsumotoillumi.jp/">松本市イルミネーション特設サイト</a></li> -->
      </ul>
      <div class="p-works-content__slider">
        <div class="swiper js-slider">
          <div class="swiper-wrapper">
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>新規採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies...</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Tag Sort</dd>
                      <dd class="p-works-slide__descItem">Scroll Smoother</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide02.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>中途採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies..</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Chart.js</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>中途採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies...</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Chart.js</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>新規採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies...</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Tag Sort</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>新規採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies...</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Tag Sort</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
            <div class="p-works-slide swiper-slide">
              <article class="p-works-slide__article">
                <img class="p-works-slide__thumbnail" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630">
                <div class="p-works-slide__inner">
                  <h2 class="p-works-slide__title">エムスリー株式会社<br>新規採用サイト</h2>
                  <dl class="p-works-slide__desc">
                    <dt class="p-works-slide__descLead">Technologies...</dt>
                    <div class="p-works-slide__descItems">
                      <dd class="p-works-slide__descItem">Tag Sort</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                      <dd class="p-works-slide__descItem">Parallax</dd>
                    </div>
                  </dl>
                  <a class="c-readmore p-works-slide__readmore" href="./work001.html">Read more</a>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</main>