<!-- ※担当領域を明記する -->
<main class="l-main p-work-main">
  <div class="l-main__inner p-work-main__inner">
    <section class="p-work-content">
      <h1 class="l-main__title p-work-content__title"><span class="p-work-content__title--large">Work 01</span><span class="p-work-content__title--small">エムスリー株式会社<br>新卒採用サイト</span></h1>
      <div class="p-work-content__imgContainer"><img class="p-work-content__img" src="./assets/images/works-slide01.webp" alt="" width="1200" height="630"></div>
      <dl class="p-work-content__list">
        <dt class="p-work-content__term">URL</dt>
        <dd class="p-work-content__desc"><a href="https://jobs.m3.com/fresh/" target="_blank" rel="noopener noreferrer" class="c-externalLink">https://jobs.m3.com/fresh/<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--colorText)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg></a></dd>
      </dl>
      <dl class="p-work-content__list">
        <dt class="p-work-content__term">担当領域</dt>
        <dd class="p-work-content__desc">全ページのコーディング</dd>
      </dl>
      <dl class="p-work-content__list">
        <dt class="p-work-content__term" class="p-work-content__term">主な仕様・技術</dt>
        <dd class="p-work-content__desc">慣性スクロール（Locomotive Scroll）</dd>
        <dd class="p-work-content__desc">画像のパララックス</dd>
        <dd class="p-work-content__desc">タイピングアニメーション</dd>
        <dd class="p-work-content__desc">カウントアップアニメーション</dd>
        <dd class="p-work-content__desc">タグソートを含んだページ遷移</dd>
      </dl>
    </section>
    <a class="c-readmore p-work-main__back" href="./works.html">back</a>
  </div>
</main>