<% var worksList = [
  {
    index:1,
    bgColor:'#0602C9',
    title:'エムスリー株式会社<br>新規採用サイト',
    tech:['Locomotive Scroll']
  },
  {
    index:2,
    bgColor:'#EFAD60',
    title:'エムスリー株式会社<br>中途採用サイト',
    tech:['Chart.js']
  },
  {
    index:3,
    bgColor:'#BB355E',
    title:'株式会社マルニシ<br>新卒採用サイト',
    tech:['Barba.js']
  },
  {
    index:4,
    bgColor:'#64d3b9',
    title:'富田美憂<br>ファンクラブサイト',
    tech:['Calendar API','Swiper']
  },
  {
    index:5,
    bgColor:'#791E87',
    title:'長野県 松本市<br class="is-pc">イルミネーション特設サイト',
    tech:['Instagram API']
  },

] %>

<main class="l-main p-work-main">
  <div class="l-main__inner">
    <h1 class="l-main__title">Work 001</h1>
  </div>
</main>