<div class="c-switchMode">
  <span class="c-switchMode__text">Dark Mode</span>
  <div class="onoffswitch c-switchMode__btn">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="-1">
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>