<%
var data = ejsData;
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= data.description %>">
  <title>PERSON <%= data.title %></title>
</head>

<body>
  <h1>PERSON タイトル is <%= data.title %></h1>
  <p>PERSON ディスクリプション is <%= data.description %></p>
</body>

</html>