<main class="main" data-scroll-section>
  <%- include('./_top-fv.ejs'); %>
  <section class="top-message">
    <div class="top-message__inner">
      <div class="top-message__titleInner js-showin is-fromLeft">
        <h2 class="top-message__title"><img src="./assets/images/top/top-message-title.svg" alt="message" width="256" height="28" loading="lazy" decoding="async"></h2>
        <h2 class="top-message__lead">
          <picture>
            <source srcset="./assets/images/top/top-message-lead.svg" media="(min-width: 960px)" width="913" height="87">
            <img src="./assets/images/top/top-message-lead--sp.svg" alt="What's Your Purpose?" width="620" height="195" loading="lazy" decoding="async">
          </picture>
        </h2>
      </div>
      <div class="top-section__readmore top-message__readmore">
        <a class="c-readmore" href="./message.html" aria-label="メッセージについてもっと読む">read more</a>
      </div>
    </div>
  </section>

  <section class="top-movie js-changeItem">
    <div class="top-movie__inner">
      <h2 class="top-movie__title js-showin is-fromLeft"><img src="./assets/images/top/top-movie-title.svg" alt="movie" width="119" height="461" loading="lazy" decoding="async"></h2>
      <h2 class="top-movie__lead">エムスリーで働く5つのメリット<span class="top-movie__lead--large">5C</span></h2>
      <div class="top-movie__player">
        <div class="top-movie__playerInner">
          <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/qohOtCk3c58?rel=0&modestbranding=1" title="中途採用向け エムスリー会社説明動画" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="top-bgGradient">
    <section class="top-section top-members js-changeItem">
      <h2 class="top-section__title top-members__title js-showin is-fromLeft js-changeTrigger">
        <svg xmlns="http://www.w3.org/2000/svg" width="752.62" height="136.96" viewBox="0 0 752.62 136.96"><defs></defs><g id="レイヤー_2" data-name="レイヤー 2"><g id="text"><path class="cls-1 js-changeItem" d="M124.24,0l9.67,128.73H117.3l-5.25-74.95L66.5,137,41.29,53.78,17.82,128.73H0L40.68,2.82,70.46,99Z"/><path class="cls-1 js-changeItem" d="M234,11.12l-2,16.23H188.85l-3.73,30.46h43.19L226.48,72.9H183.29l-4.88,39.61H221.6l-2,16.22H159L173.46,11.12Z"/><path class="cls-1 js-changeItem" d="M365.24,0l9.68,128.73H358.31l-5.25-74.95L307.51,137,282.29,53.78l-23.46,74.95H241L281.68,2.82,311.47,99Z"/><path class="cls-1 js-changeItem" d="M414.47,11.12h21.78q10.29,0,16.69,2.21a23.81,23.81,0,0,1,10.58,7.46,30.27,30.27,0,0,1,6.94,20q0,17.82-17.14,27.19,20.79,5.19,20.79,26.05a37.14,37.14,0,0,1-3.65,16.23,30.77,30.77,0,0,1-9.91,12.18,28.17,28.17,0,0,1-11.19,5,72.8,72.8,0,0,1-7.7.95c-3,.23-6.55.34-10.66.34H400Zm9.37,65.36-4.42,36h11.73q13.1,0,18-3.28,7.46-5,7.46-16.45a19.84,19.84,0,0,0-1.25-7.43,11.66,11.66,0,0,0-3.93-5.06,17.58,17.58,0,0,0-6.89-2.9,48.83,48.83,0,0,0-10.17-.91Zm6-49.13-4.27,35.19h5q22.4,0,22.4-20.87,0-14.33-17.07-14.32Z"/><path class="cls-1 js-changeItem" d="M570.36,11.12l-2,16.23H525.19l-3.73,30.46h43.19L562.82,72.9H519.63l-4.87,39.61h43.18l-2.05,16.22H495.33L509.8,11.12Z"/><path class="cls-1 js-changeItem" d="M629.21,79.14l29.55,49.59H640.33L612.45,80.36h-6.32l-5.94,48.37H582.74L597.22,11.12H620.3q11.26,0,17.9,2.06a25.34,25.34,0,0,1,11.42,7q9.23,9.43,9.22,24.37Q658.84,71.91,629.21,79.14ZM612.6,27.35,608,65.13h8q8.84,0,13.18-1.68A16.93,16.93,0,0,0,637,57.74a21.38,21.38,0,0,0,4.26-13.26q0-8.91-5.14-13t-16.18-4.11Z"/><path class="cls-1 js-changeItem" d="M752.62,26.13,741,37.25q-8.31-12.19-19-12.19a18.08,18.08,0,0,0-12.88,4.8,15.83,15.83,0,0,0-5.1,12,15.08,15.08,0,0,0,3.5,10,34.56,34.56,0,0,0,5.15,4.5c2.25,1.67,5.09,3.53,8.49,5.56q15.15,8.83,20.26,16t5.18,19q0,15.24-10,24.68T710.35,131q-13.11,0-22.17-5.64a37.75,37.75,0,0,1-8.53-7.35A66.07,66.07,0,0,1,672,107l13.26-9q5.4,9.52,10.59,13.1t13.48,3.58q9.21,0,14.43-4.87T729,96a15.11,15.11,0,0,0-3.81-10.44,34.33,34.33,0,0,0-5.67-5q-3.78-2.75-9.56-6.17-13.26-7.85-18.51-14.93-5-7.08-5-17.75,0-14.24,9.9-23.61t25-9.45q9.82,0,16.76,4T752.62,26.13Z"/></g></g></svg>
      </h2>
      <div class="top-section__bg top-members__bg js-paraTrigger01">
        <picture class="top-section__bgImg">
          <source media="(min-width:960px)" type="image/webp" srcset="./assets/images/top/top-bg-members--HQ.webp" width="2732" height="1520">
          <source media="(min-width:960px)" srcset="./assets/images/top/top-bg-members--HQ.jpg" width="2732" height="1520">
          <source type="image/webp" srcset="./assets/images/top/top-bg-members--sp.webp" width="1500" height="1520">
          <img class="top-section__bgImg rellax js-paraImg01" src="./assets/images/top/top-bg-members--sp.jpg" width="1500" height="1520" data-rellax-speed="-2" data-rellax-tablet-speed="-5" data-rellax-desktop-speed="-5" loading="lazy" decoding="async">
        </picture>
      </div>
      <div class="top-members__contents">
        <h2 class="top-members__lead top-section__lead">それぞれの“Next”</h2>
        <div class="top-section__readmore top-members__readmore">
          <a class="c-readmore" href="./members.html" aria-label="それぞれのネクストについてもっと読む">read more</a>
        </div>
      </div>
    </section>

    <section class="top-section top-growth">
      <div class="top-growth__inner">
        <h2 class="top-section__title top-growth__title js-showin is-fromLeft"><img src="./assets/images/top/top-growth-title.svg" alt="growth" width="128" height="711" loading="lazy" decoding="async">
        </h2>
        <div class="top-section__bg top-growth__bg">
          <picture class="top-section__bgImg">
            <source media="(min-width:960px)" type="image/webp" srcset="./assets/images/top/top-bg-growth.webp" width="2160" height="1760">
            <source media="(min-width:960px)" srcset="./assets/images/top/top-bg-growth.jpg" width="2160" height="1760">
            <source type="image/webp" srcset="./assets/images/top/top-bg-growth--sp.webp" width="1160" height="1760">
            <img class="top-section__bgImg rellax" src="./assets/images/top/top-bg-growth--sp.jpg" width="1160" height="1760" data-rellax-speed="-2" data-rellax-tablet-speed="-5" data-rellax-desktop-speed="-5" loading="lazy" decoding="async">
          </picture>
        </div>
        <div class="top-growth__contents">
          <h2 class="top-section__lead">エムスリーの成長環境</h2>
          <div class="top-section__readmore top-growth__readmore">
            <a class="c-readmore" href="./growth.html" aria-label="エムスリーの成長環境についてもっと読む">read more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="top-section top-mission">
      <div class="top-mission__inner">
        <h2 class="top-section__title top-mission__title js-showin is-fromLeft"><img src="./assets/images/top/top-mission-title.svg" alt="mission" width="698" height="137" loading="lazy" decoding="async"></h2>
        <div class="top-section__bg top-mission__bg">
          <picture class="top-section__bgImg">
            <source media="(min-width:960px)" type="image/webp" srcset="./assets/images/top/top-bg-mission.webp" width="2160" height="1760">
            <source media="(min-width:960px)" srcset="./assets/images/top/top-bg-mission.jpg" width="2160" height="1760">
            <source type="image/webp" srcset="./assets/images/top/top-bg-mission--sp.webp" width="1160" height="1760">
            <img class="top-section__bgImg rellax" src="./assets/images/top/top-bg-mission--sp.jpg" width="1160" height="1760" data-rellax-speed="-2" data-rellax-tablet-speed="-5" data-rellax-desktop-speed="-5" loading="lazy" decoding="async">
          </picture>
        </div>
        <div class="top-mission__contents">
          <h2 class="top-section__lead">エムスリーが目指しているもの</h2>
          <div class="top-section__readmore top-mission__readmore">
            <a class="c-readmore" href="./mission.html" aria-label="エムスリーが目指しているものについてもっと読む">read more</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>