<div class="topFv js-topFvAnime">
  <section class="topFv__titleContainer">
    <h1 class="topFv__title js-fvText--last">
      <img src="./assets/images/common/site-catch.svg" alt="what's your next?" width="275" height="192">
    </h1>
  </section>

  <div class="topFv__leadContainer">
    <!-- 成功体験 -->
    <p class="topFv__lead is-main js-fvText--06">
      <picture>
        <!-- <source srcset="./assets/images/top/top-fv-lead01.svg" media="(min-width: 960px)" idth="294" height="83"> -->
        <source srcset="./assets/images/top/fv-bg01.webp" type="image/webp" media="(min-width: 960px)" width="2732" height="1600">
        <source srcset="./assets/images/top/fv-bg01.png" media="(min-width: 960px)" width="2732" height="1600">
        <img src="./assets/images/top/top-fv-lead01--sp.svg" alt="成功体験を創出し続ける環境があなたの成長を加速させる。" width="417" height="70">
      </picture>
    </p>
    <!-- 世界11ヶ国 -->
    <p class="topFv__lead is-main js-fvText--07">
      <picture>
        <!-- <source srcset="./assets/images/top/top-fv-lead02.svg" media="(min-width: 960px)" width="372" height="61"> -->
        <source srcset="./assets/images/top/fv-bg02.webp" type="image/webp" media="(min-width: 960px)" width="2732" height="1600">
        <source srcset="./assets/images/top/fv-bg02.png" media="(min-width: 960px)" width="2732" height="1600">
        <img src="./assets/images/top/top-fv-lead02--sp.svg" alt="世界11ヶ国・50を超える事業。つまり、それだけ打席が多い。" width="367" height="58">
      </picture>
    </p>
    <!-- 0-1 1-10 -->
    <p class="topFv__lead is-main js-fvText--08">
      <picture>
        <!-- <source srcset="./assets/images/top/top-fv-lead03.svg" media="(min-width: 960px)" width="325" height="73"> -->
        <source srcset="./assets/images/top/fv-bg03.webp" type="image/webp" media="(min-width: 960px)" width="2732" height="1600">
        <source srcset="./assets/images/top/fv-bg03.png" media="(min-width: 960px)" width="2732" height="1600">
        <img src="./assets/images/top/top-fv-lead03--sp.svg" alt="0－1、1－10、10－100。多様な事業フェーズに触れる経験があなたのポテンシャルを開花させる。" width="390" height="80">
      </picture>
    </p>
    <!-- コンサル -->
    <p class="topFv__lead is-main js-fvText--09">
      <picture>
        <!-- <source srcset="./assets/images/top/top-fv-lead04.svg" media="(min-width: 960px)" width="366" height="95"> -->
        <source srcset="./assets/images/top/fv-bg04.webp" type="image/webp" media="(min-width: 960px)" width="2732" height="1600">
        <source srcset="./assets/images/top/fv-bg04.png" media="(min-width: 960px)" width="2732" height="1600">
        <img src="./assets/images/top/top-fv-lead04--sp.svg" alt="コンサル・商社・金融・IT・メーカー、スタートアップ・メガベンチャー・大手など。様々なバックグラウンドを持つ同志があなたの成長意欲を刺激する。" width="446" height="117">
      </picture>
    </p>
    <!-- あなたが次世代 -->
    <p class="topFv__lead is-main js-fvText--10">
      <picture>
        <!-- <source srcset="./assets/images/top/top-fv-lead05.svg" media="(min-width: 960px)" width="356" height="105"> -->
        <source srcset="./assets/images/top/fv-bg05.webp" type="image/webp" media="(min-width: 960px)" width="2732" height="1600">
        <source srcset="./assets/images/top/fv-bg05.png" media="(min-width: 960px)" width="2732" height="1600">
        <img src="./assets/images/top/top-fv-lead05--sp.svg" alt="あなたが次世代のリーダーに飛躍するための環境がここにある。" width="427" height="127">
      </picture>
    </p>

    <!-- blur -->
    <!-- 成功体験 -->
    <p class="topFv__lead is-blur js-fvText--03">
      <picture>
        <source srcset="./assets/images/top/top-fv-lead01-blur.svg" media="(min-width: 960px)" width="872" height="202">
        <img src="./assets/images/top/top-fv-lead01-blur--sp.svg" alt="" width="872" height="202">
      </picture>
    </p>
    <!-- 世界11ヶ国 -->
    <p class="topFv__lead is-blur js-fvText--02">
      <picture>
        <source srcset="./assets/images/top/top-fv-lead02-blur.svg" media="(min-width: 960px)" width="854" height="192">
        <img src="./assets/images/top/top-fv-lead02-blur--sp.svg" alt="" width="854" height="193">
      </picture>
    </p>
    <!-- 0-1 1-100 -->
    <p class="topFv__lead is-blur js-fvText--04">
      <picture>
        <source srcset="./assets/images/top/top-fv-lead03-blur.svg" media="(min-width: 960px)" width="645" height="200">
        <img src="./assets/images/top/top-fv-lead03-blur--sp.svg" alt="" width="530" height="339">
      </picture>
    </p>
    <!-- コンサル -->
    <p class="topFv__lead is-blur js-fvText--05">
      <picture>
        <source srcset="./assets/images/top/top-fv-lead04-blur.svg" media="(min-width: 960px)" width="765" height="253">
        <img src="./assets/images/top/top-fv-lead04-blur--sp.svg" alt="" width="874" height="281">
      </picture>
    </p>
    <!-- あなたが次世代 -->
    <p class="topFv__lead is-blur js-fvText--01">
      <picture>
        <source srcset="./assets/images/top/top-fv-lead05-blur.svg" media="(min-width: 960px)" width="1359" height="404">
        <img src="./assets/images/top/top-fv-lead05-blur--sp.svg" alt="" width="1709" height="489">
      </picture>
    </p>
  </div>
</div>