<main class="l-main p-top-main">
  <div class="l-main__inner p-top-main__inner">
    <section class="p-top-fv">
      <h1 class="p-top-fv__title">Portfolio Site 2022</h1>
      <p class="p-top-fv__desc js-mouseText"><span class="p-top-fv__text">Hi I'm <br class="u-br-min-lg">Hayato Kamiyama</span>
        <span class="p-top-fv__text">Front-end Engineer</span>
        <span class="p-top-fv__text">In Tokyo, Japan</span>
      </p>
    </section>
    <div class="p-top-main__circleArea">
      <img class="p-top-main__circle js-moveCircle" src="./assets/images/bg-circle01.svg" alt="" width="1000" height="1000" style="transform: scale(0);">
      <img class=" p-top-main__circle js-moveCircle" src="./assets/images/bg-circle02.svg" alt="" width="1000" height="1000" style="transform: scale(0);">
      <img class=" p-top-main__circle js-moveCircle" src="./assets/images/bg-circle03.svg" alt="" width="1000" height="1000" style="transform: scale(0);">
    </div>
  </div class=" l-main__inner">
</main>