<main class="l-main" data-scroll-section>
  <p class="text1">text01</p>
  <p class="text2">text02</p>
  <p class="text3">text03</p>
  <p class="text4">abcdefg</p>
  <p class="test"><span class="test__text">Dark Mode</span></p>
  <p class="test"><span class="test__text">Light Mode</span></p>

  <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</main>